/*
  ========================================
  Custom styles
  ========================================
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #30323d;
}

h1 {
    font-size: 56px;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: 600;
    color: #30323d;
}

h3 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    color: #30323d;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #30323d;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    color: #30323d;
}

h6 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 16px;
    color: #878991;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: unset;
}
.btn-0 {
    cursor: pointer;
    background-color: #1679e8;
    /*border: 2px solid #1add97;*/
    font-size: 18px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    padding: 20px 0px;
    border-radius: 100px;
    width: 220px;
    transition: .8s linear;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}
.btn-0:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(146deg, #1a53c0, #0161cd);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-1 {
    cursor: pointer;
    background-color: #1add97;
    /*border: 2px solid #1add97;*/
    font-size: 18px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    padding: 20px 0px;
    border-radius: 100px;
    width: 220px;
    transition: .8s linear;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}

.btn-1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(146deg, #1a53c0, #0161cd);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-1:active,
.btn-1:focus,
.btn-1:hover {
    color: #fff
}

.btn-1:active:before,
.btn-1:focus:before,
.btn-1:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
.btn-0:active,
.btn-0:focus,
.btn-0:hover {
    color: #fff
}

.btn-0:active:before,
.btn-0:focus:before,
.btn-0:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.btn-2 {
    cursor: pointer;
    background-color: unset;
    border: 2px solid #fff;
    font-size: 18px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    padding: 20px 0px;
    border-radius: 100px;
    width: 220px;
    transition: .8s linear;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}

.btn-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1add97;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-2:active,
.btn-2:focus,
.btn-2:hover {
    color: #fff
}

.btn-2:active:before,
.btn-2:focus:before,
.btn-2:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/*
  ========================================
  Preloader
  ========================================
*/

 

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
      background: #8A62F0;
    background: -o-linear-gradient(146deg, #8A62F0, #7142DF);
    background: -o-linear-gradient(304deg, #8A62F0, #7142DF);
    background: linear-gradient(146deg, #8A62F0, #7142DF);
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes preloader {
    0% {
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes preloader {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
}


/*
  ========================================
  Links
  ========================================
*/

.section-title {
    text-align: center;
}

.section-title h2 {
    color: #30323d;
    padding-bottom: 27px;
}

.section-title p {
    font-size: 20px;
    line-height: 37px;
}


 