<div id="chiTietPhieuDanhGia" [busyIf]="isLoadingForm">
    <div class="row form-group">
        <div class="col-12 text-center">
            <h3 class="color-h3">{{phieuDanhGiaDto.tieuDe}}</h3>
            <h6 class="color-h6 font-weight-none">
                <i> Nội dung đánh giá theo biểu mẫu
                    {{phieuDanhGiaDto.ten}} </i></h6>
            <h6 class="color-h6 font-weight-none"> <i> {{phieuDanhGiaDto.ghiChu}} </i></h6>
            <h6 class="text-center color-h6">
                <b> {{ canBoGuiDanhGiaDto.thoiGian }}</b>
            </h6>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
            <h6 class="color-h3 font-weight-none"><b>Họ và tên:</b> {{ canBoGuiDanhGiaDto.tenCanBo }}
            </h6>
            <h6 class="color-h3 font-weight-none"><b>Chức vụ:</b> {{ canBoGuiDanhGiaDto.tenChucVu }}</h6>
        </div>
    </div>
    <div class="row form-group" id="table">
        <table class="table table-bordered ">
            <thead>
                <th class="text-center" style="width: 30px;">TT</th>
                <th class="text-center">Nội dung đánh giá</th>
                <th class="text-center" width="150px">Điểm tối đa</th>
                <th class="text-center" width="150px">Cá nhân tự nhận xét</th>
                <th class="text-center" width="150px">Cá nhân tự chấm</th>
                <th class="text-center" width="150px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                    {{phieuDanhGiaTongHop.tieuDeCot2}}
                    <br />
                    <span class="kt-badge kt-badge--primary kt-badge--inline"
                        *ngIf="phieuDanhGiaTongHop.hienThiChiTietCot2 && phieuDanhGiaTongHop.hienThiChiTietChoNguoiDangDangNhap"
                        style="margin-top: 7px; cursor: pointer;"
                        (click)="chitietnhomdanhgiamodal.show(phieuDanhGiaCanBoDto.id, phieuDanhGiaDto.id, phieuDanhGiaTongHop.lichSuDanhGiaId2)">
                        Chi
                        tiết
                    </span>
                </th>

                <th class="text-center" width="150px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                    {{phieuDanhGiaTongHop.tieuDeCot3}}
                    <br />
                    <span class="kt-badge kt-badge--primary kt-badge--inline"
                        *ngIf="phieuDanhGiaTongHop.hienThiChiTietCot3 && phieuDanhGiaTongHop.hienThiChiTietChoNguoiDangDangNhap"
                        style="margin-top: 7px; cursor: pointer;"
                        (click)="chitietnhomdanhgiamodal.show(phieuDanhGiaCanBoDto.id, phieuDanhGiaDto.id, phieuDanhGiaTongHop.lichSuDanhGiaId2)">
                        Chi
                        tiết
                    </span>
                </th>
                <th class="text-center" width="150px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                    {{phieuDanhGiaTongHop.tieuDeCot4}}
                    <br />
                    <span class="kt-badge kt-badge--primary kt-badge--inline"
                        *ngIf="phieuDanhGiaTongHop.hienThiChiTietCot4 && phieuDanhGiaTongHop.hienThiChiTietChoNguoiDangDangNhap"
                        style="margin-top: 7px; cursor: pointer;"
                        (click)="chitietnhomdanhgiamodal.show(phieuDanhGiaCanBoDto.id, phieuDanhGiaDto.id, phieuDanhGiaTongHop.lichSuDanhGiaId2)">
                        Chi
                        tiết
                    </span>
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let dataItem of projectData;index as i" [hidden]="!dataItem.isShow">
                    <td>
                        <div [class]="'data-title item-title-lv'+ dataItem.level">
                            <span class="btn-expand" *ngIf="!dataItem.isLeaf" (click)="onExpandClick(i)">
                                <i class="fas"
                                    [ngClass]="{'fa-caret-down': dataItem.expanded ==true,'fa-caret-right': dataItem.expanded == false}"></i>
                            </span>
                            <span [class.content-parent]="dataItem.isLeaf==false"
                                [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                {{dataItem.kyHieu}}
                            </span>
                        </div>
                    </td>
                    <td>
                        <div [class]="'data-title item-title-lv'+ dataItem.level">
                            <span [class.content-parent]="dataItem.isLeaf==false"
                                [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                {{dataItem.ten}}
                            </span>
                        </div>
                    </td>

                    <td class="text-right">
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            <div class="form-group validated">
                                <div class="text-right">
                                    {{dataItem.diemToiDa}}
                                </div>
                            </div>
                        </div>
                        <div class="item-title-total" *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                            {{dataItem.diemToiDa | number:'.0-1'}}
                        </div>

                        <!-- <span
                                        [class.text-bold]="dataItem.isLeaf===false">{{dataItem.diemToiDa | number:'.0-1'}}
                                    </span> -->

                    </td>
                    <td>
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            {{dataItem.lichSuNhanXetTuDanhgia}}
                        </div>
                    </td>

                    <td>
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            <div class="form-group validated">
                                <div class="text-right">
                                    {{dataItem.lichSuDiemCapDanhGia1}}
                                </div>
                            </div>
                        </div>
                        <div class="item-title-total" *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                            {{dataItem.lichSuTongDiemCapDanhGia1 | number:'.0-1'}}
                        </div>
                    </td>

                    <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            <div class="form-group validated">
                                <div class="text-right">
                                    {{dataItem.lichSuDiemCapDanhGia2| number:'.0-1'}}
                                </div>
                            </div>
                        </div>
                        <div class="item-title-total" *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                            {{dataItem.lichSuTongDiemCapDanhGia2 | number:'.0-1'}}
                        </div>
                    </td>

                    <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            <div class="form-group validated">
                                <div class="text-right">
                                    {{dataItem.lichSuDiemCapDanhGia3| number:'.0-1'}}
                                </div>
                            </div>
                        </div>
                        <div class="item-title-total" *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                            {{dataItem.lichSuTongDiemCapDanhGia3 | number:'.0-1'}}
                        </div>
                    </td>
                    <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                            <div class="form-group validated">
                                <div class="text-right">
                                    {{dataItem.lichSuDiemCapDanhGia4| number:'.0-1'}}
                                </div>
                            </div>
                        </div>
                        <div class="item-title-total" *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                            {{dataItem.lichSuTongDiemCapDanhGia4 | number:'.0-1'}}
                        </div>
                    </td>
                </tr>
                <tr style="font-weight:bold">
                    <td></td>
                    <td>Tổng điểm</td>
                    <td class="text-right">{{maxTotalMark}}</td>
                    <td class="text-right"></td>
                    <td class="text-right item-title-total">
                        {{phieuDanhGiaTongHop.tongDiemCapDanhGia1| number:'.0-1'}}
                    </td>
                    <td class="text-right item-title-total" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                        {{phieuDanhGiaTongHop.tongDiemCapDanhGia2 | number:'.0-1'}}</td>

                    <td class="text-right item-title-total" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                        {{phieuDanhGiaTongHop.tongDiemCapDanhGia3 | number:'.0-1'}}</td>

                    <td class="text-right item-title-total" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                        {{phieuDanhGiaTongHop.tongDiemCapDanhGia4 | number:'.0-1'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row form-group">
        <div class="col-12" style="padding: 0;">
            <table class="table table-bordered" style="font-size: 14px;">
                <thead class="text-center">
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">
                            Tổng điểm
                        </th>
                        <th colspan="4">
                            Kết quả đánh giá
                        </th>
                        <th rowspan="2">Nhận xét</th>
                    </tr>
                    <tr>
                        <th *ngFor="let item of this.thangDiemChiTietDto">
                            {{ item.ten }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ketQuaTongHop">
                        <td class="text-left">
                            <p>
                                <b> Tên cán bộ: {{ item.tenCanBo }}</b>
                            </p>
                            <p>
                                <b> Chức vụ: {{ item.tenChucVu }}</b>
                            </p>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.tongDiem > 0">
                                <b>{{ item.tongDiem | number:'1.0-1'}}</b></span>
                        </td>
                        <td *ngFor="let thangDiem of this.thangDiemChiTietDto" class="text-center">
                            <span *ngIf="item.thangDiemChiTietId == thangDiem.id">
                                <i class="fa fa-check-square fa-lg" style="margin-top: 15px;" aria-hidden="true"></i>
                            </span>
                        </td>
                        <td style="white-space: pre-wrap;">
                            {{item.nhanXet}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-3 col-xl-3"></div>
        <div class="col-lg-9 col-xl-9 text-right">
            <button type="button" class="btn btn-secondary" *ngIf="!isViewChiTietTuEmail"
                (click)="close()">Đóng</button>
        </div>
    </div>
</div>

<chi-tiet-nhom-danh-gia-modal #chitietnhomdanhgiamodal></chi-tiet-nhom-danh-gia-modal>