<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Chi tiết điểm nhóm đánh giá</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <table class="table table-bordered ">
                        <thead>
                            <th class="text-center" style="width: 50px;">TT</th>
                            <th class="text-center">Nội dung đánh giá</th>
                            <th class="text-center" width="110px">Điểm tối đa</th>
                            <th class="text-center" width="110px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId1 > 0">
                                Người chấm 1
                            </th>

                            <th class="text-center" width="110px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                                Người chấm 2
                            </th>

                            <th class="text-center" width="110px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                                Người chấm 3
                            </th>
                            <th class="text-center" width="110px" *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                                Người chấm 3
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dataItem of projectData;index as i" [hidden]="!dataItem.isShow">
                                <td>
                                    <div [class]="'data-title item-title-lv'+ dataItem.level">
                                        <span class="btn-expand" *ngIf="!dataItem.isLeaf" (click)="onExpandClick(i)">
                                            <i class="fas"
                                                [ngClass]="{'fa-caret-down': dataItem.expanded ==true,'fa-caret-right': dataItem.expanded == false}"></i>
                                        </span>
                                        <span [class.content-parent]="dataItem.isLeaf==false"
                                            [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                            {{dataItem.kyHieu}}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div [class]="'data-title item-title-lv'+ dataItem.level">
                                        <span [class.content-parent]="dataItem.isLeaf==false"
                                            [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                            {{dataItem.ten}}
                                        </span>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                        <div class="form-group validated">
                                            <div class="text-right" *ngIf="dataItem.diemToiThieu == 0">
                                                {{dataItem.diemToiDa}}
                                            </div>
                                            <div class="text-right" *ngIf="dataItem.diemToiThieu > 0">
                                                Từ {{dataItem.diemToiThieu}} đến
                                                {{dataItem.diemToiDa}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title-total"
                                        *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                        {{dataItem.diemToiDa | number:'.0-1'}}
                                    </div>
                                </td>
                                <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId1 > 0">
                                    <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                        <div class="form-group validated">
                                            <div class="text-right">
                                                {{dataItem.lichSuDiemCapDanhGia1}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title-total"
                                        *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                        {{dataItem.lichSuTongDiemCapDanhGia1 | number:'.0-1'}}
                                    </div>
                                </td>

                                <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                                    <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                        <div class="form-group validated">
                                            <div class="text-right">
                                                {{dataItem.lichSuDiemCapDanhGia2| number:'.0-1'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title-total"
                                        *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                        {{dataItem.lichSuTongDiemCapDanhGia2 | number:'.0-1'}}
                                    </div>
                                </td>

                                <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                                    <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                        <div class="form-group validated">
                                            <div class="text-right">
                                                {{dataItem.lichSuDiemCapDanhGia3| number:'.0-1'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title-total"
                                        *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                        {{dataItem.lichSuTongDiemCapDanhGia3 | number:'.0-1'}}
                                    </div>
                                </td>
                                <td *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                                    <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                        <div class="form-group validated">
                                            <div class="text-right">
                                                {{dataItem.lichSuDiemCapDanhGia4| number:'.0-1'}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-title-total"
                                        *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                        {{dataItem.lichSuTongDiemCapDanhGia4 | number:'.0-1'}}
                                    </div>
                                </td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td></td>
                                <td>Tổng điểm</td>
                                <td class="text-right">{{maxTotalMark}}</td>
                                <td class="text-right item-title-total"
                                    *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId1 > 0">
                                    {{phieuDanhGiaTongHop.tongDiemCapDanhGia1| number:'.0-1'}}
                                </td>
                                <td class="text-right item-title-total"
                                    *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId2 > 0">
                                    {{phieuDanhGiaTongHop.tongDiemCapDanhGia2 | number:'.0-1'}}</td>

                                <td class="text-right item-title-total"
                                    *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId3 > 0">
                                    {{phieuDanhGiaTongHop.tongDiemCapDanhGia3 | number:'.0-1'}}</td>

                                <td class="text-right item-title-total"
                                    *ngIf="phieuDanhGiaTongHop.lichSuDanhGiaId4 > 0">
                                    {{phieuDanhGiaTongHop.tongDiemCapDanhGia4 | number:'.0-1'}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
            </div>
        </div>
    </div>
</div>