<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Cấp đơn vị</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống / Quản lý
                phòng ban / Cấp đơn vị
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-primary pull-right" (click)="createCapDonVi()">
                    <i class="fa fa-plus"></i> Thêm
                </button>
            </div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button" (click)="getCapDonVi()">
                            Tìm kiếm
                        </button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [showRowLines]="true">

                        <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
                        <dxi-column caption="Tên" dataField="ten"></dxi-column>

                        <dxi-column caption="Thao tác" dataField="" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button type="button" class="btn btn-outline-warning  btn-sm"
                                (click)="createOrEditCapDonViModal.show(item.data)" title="Sửa">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa"
                                (click)="xoaCapDonVi(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-data-grid>

                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="
                                        primengTableHelper.defaultRecordsCountPerPage
                                    " #paginator (onPageChange)="getCapDonVi($event)" [totalRecords]="
                                        primengTableHelper.totalRecordsCount
                                    " [rowsPerPageOptions]="
                                        primengTableHelper.predefinedRecordsCountPerPage
                                    ">
                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số:
                                    {{ primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
    </div>
    <createOrEditCapDonViModal #createOrEditCapDonViModal (modalSave)="getCapDonVi()">
    </createOrEditCapDonViModal>
</div>