<div class="kt-login__form" [@routerTransition] id="TenantDashboard">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{ "Trang cá nhân" | localize }}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{ "DashboardHeaderInfo" | localize }}
            </span>
            <!-- <button (click)="sendEmail()"> Send Email </button> -->
        </div>
        <div class="kt-subheader__toolbar">
            <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId" class="margin-right-5">
            </shared-ui-can-bo-chuc-vu-combo>
            <shared-ui-nam-combo [(item)]="filterYear">
            </shared-ui-nam-combo>
        </div>
    </div>

    <div class="kt-content kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <!-- [hidden]="Pages.Systems.Dashboard"
            [hidden]="Pages.Systems.DashboardDonVi" -->

            <div class="col-md-12 col-sm-12" *ngIf="isGranted('Pages.Systems.Dashboard')">
                <bieu-do-xlca-nhan-theo-thang [chucVuId]="selectChucVuId" [filterYear]="filterYear">
                </bieu-do-xlca-nhan-theo-thang>
            </div>

            <div class="col-md-8 col-sm-12" *ngIf="isGranted('Pages.Systems.DashboardDonVi')">
                <bieu-do-kq-dg-cac-thang [chucVuId]="selectChucVuId" [filterYear]="filterYear">
                </bieu-do-kq-dg-cac-thang>
            </div>
            <div class="col-md-4 col-sm-12" *ngIf="isGranted('Pages.Systems.DashboardDonVi')">
                <bieu-do-ty-le-hoan-thanh-phieu [chucVuId]="selectChucVuId"></bieu-do-ty-le-hoan-thanh-phieu>
            </div>
        </div>
    </div>
</div>