<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="createOrUpdateKhoiForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="khoiDto.id">Cập nhật khối hành chính</span>
                        <span *ngIf="!khoiDto.id">Tạo mới khối hành chính</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Khối hành chính <span class="red"> * </span></label>
                                <input formControlName="ten" class="form-control" type="text" [(ngModel)]="khoiDto.ten">
                                <div *ngIf="submitted && f['ten'].errors" class="form-control-feedback">
                                    <div *ngIf="f['ten'].errors.required">
                                        Tên khối không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                </div>

            </form>

        </div>
    </div>
</div>