<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="thangDiemDto.id">Cập nhật thang điểm</span>
                    <span *ngIf="!thangDiemDto.id">Tạo mới thang điểm</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="createOrUpdateThangDiemForm">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-12">
                            <!-- <label>Phiếu đánh giá</label>
                            <shared-ui-phieu-danh-gia-combo
                                [(item)]="thangDiemDto.phieuDanhGiaId"
                            >
                            </shared-ui-phieu-danh-gia-combo> -->

                            <label>Tên thang điểm <span class="red"> * </span></label>
                            <input formControlName="ten" class="form-control" type="text"
                                [(ngModel)]="thangDiemDto.ten" />
                            <div *ngIf="submitted && f['ten'].errors" class="form-control-feedback">
                                <div *ngIf="f['ten'].errors.required">
                                    Tên thang điểm không được để trống
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Hiệu lực từ ngày</label>
                                <div class="input-group date">
                                    <shared-ui-date-moment [(item)]="thangDiemDto.hieuLucTuNgay">
                                    </shared-ui-date-moment>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="orm-md-line-input form-md-floating-label ">
                                <label>Hiệu lực tới ngày</label>
                                <div class="input-group date">
                                    <shared-ui-date-moment [(item)]="thangDiemDto.hieuLucToiNgay">
                                    </shared-ui-date-moment>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row form-group">
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-success btn-sm" (click)="setDefault();">
                                Mặc định (4 mức)
                            </button>
                        </div>
                    </div> -->
                </div>
            </form>
            <div class="modal-body" style="border-top: 1px dotted #ccc;
    padding-top: 5px;">
                <div class="row form-group" *ngIf="isEditItem">
                    <div class="col-12">
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped m-table">
                                    <thead>
                                        <tr>
                                            <th class="stt">
                                                #
                                            </th>
                                            <th>
                                                Tên
                                            </th>
                                            <th style="width: 130px;">
                                                Điểm từ
                                            </th>
                                            <th style="width: 130px;">
                                                Điểm đến
                                            </th>
                                            <th style="width: 80px;">
                                                Thao tác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="
                                                let item of chiTietThangDiem;
                                                index as i
                                            ">
                                            <td scope="row">
                                                {{ i + 1 }}
                                            </td>
                                            <td>
                                                <input class="form-control" [(ngModel)]="item.ten" placeholder="Tên mức"
                                                    type="text" />
                                            </td>
                                            <td>
                                                <input type="number" min="0" class="form-control"
                                                    [(ngModel)]="item.diemSan" placeholder="Nhập điểm..." />
                                            </td>
                                            <td>
                                                <input type="number" min="0" class="form-control"
                                                    [(ngModel)]="item.diemTran" placeholder="Nhập điểm..." />
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger btn-sm"
                                                    (click)="removeItem(i)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td colspan="4">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    (click)="addItem()">
                                                    <i class="fas fa-plus"></i>
                                                    Thêm
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button (click)="save()" type="submit" class="btn btn-primary" [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot' | localize)">
                    <i class="fa fa-save"></i>
                    <span>{{ "Save" | localize }}</span>
                </button>
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                    {{ "Cancel" | localize }}
                </button>
            </div>
        </div>
    </div>
</div>