<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="createOrUpdatePhieuDanhGiaForm" (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="phieuDanhGia.id">Cập nhật phiếu đánh giá</span>
                        <span *ngIf="!phieuDanhGia.id">Tạo phiếu đánh giá</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Tên <span class="red"> * </span></label>
                                <input formControlName="ten" class="form-control" type="text"
                                    [(ngModel)]="phieuDanhGia.ten" />
                                <div *ngIf="submitted && f['ten'].errors" class="form-control-feedback">
                                    <div *ngIf="
                                            f['ten'].errors.required ||
                                            f['ten'].errors.whitespace
                                        ">
                                        Tên phiếu không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Tiêu đề <span class="red"> * </span></label>
                                <input formControlName="tieuDe" class="form-control" type="text"
                                    [(ngModel)]="phieuDanhGia.tieuDe" />
                                <div *ngIf="submitted && f['tieuDe'].errors" class="form-control-feedback">
                                    <div *ngIf="f['tieuDe'].errors.required">
                                        Tiêu đề không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Thang điểm <span class="red"> * </span></label>
                                <shared-ui-thang-diem-combo [(item)]="phieuDanhGia.thangDiemId">
                                </shared-ui-thang-diem-combo>
                                <input formControlName="thangDiemId" [(ngModel)]="phieuDanhGia.thangDiemId" hidden
                                    class="form-control" type="text">
                                <div *ngIf="submitted && f.thangDiemId.errors" class="invalid-feedback">
                                    <div *ngIf="f.thangDiemId.errors.min">Chọn thang điểm</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Ghi chú</label>
                                <textarea formControlName="ghiChu" class="form-control" rows="3"
                                    [(ngModel)]="phieuDanhGia.ghiChu">
                                </textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Hiệu lực từ ngày</label>
                                <div class="input-group date">
                                    <shared-ui-date-moment [(item)]="phieuDanhGia.hieuLucTuNgay">
                                    </shared-ui-date-moment>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Hiệu lực tới ngày</label>
                                <div class="input-group date">
                                    <shared-ui-date-moment [(item)]="phieuDanhGia.hieuLucToiNgay">
                                    </shared-ui-date-moment>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ "Save" | localize }}</span>
                    </button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        {{ "Cancel" | localize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>