<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Quản lý phiếu đánh giá</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống / Quản lý phiếu đánh giá
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper"></div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body" [hidden]="isViewDanhSach">
                <div class="row form-group">
                    <div class="col-8">
                        <h4>Danh sách phiếu đánh giá</h4>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary pull-right" (click)="createPhieuDanhGia()">
                            <i class="fa fa-plus"></i> Thêm phiếu
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Hiệu lực từ ngày</label>
                            <div class="input-group date">
                                <shared-ui-date-moment [(item)]="hieuLucTuNgay"> </shared-ui-date-moment>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Hiệu lực tới ngày</label>
                            <div class="input-group date">
                                <shared-ui-date-moment [(item)]="hieuLucToiNgay"> </shared-ui-date-moment>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button" (click)="getPhieuDanhGia()">
                            Tìm kiếm
                        </button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [showRowLines]="true">

                        <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
                        <dxi-column caption="Tên" dataField="ten" [width]="200"></dxi-column>
                        <dxi-column caption="Tiêu đề" cellTemplate="cellTemplateTieuDe"></dxi-column>
                        <dxi-column caption="Ghi chú" cellTemplate="cellTemplateGhiChu"></dxi-column>
                        <dxi-column caption="Hiệu lực từ ngày" dataField="hieuLucTuNgay" dataType="date"
                            [format]="{ type: 'dd/MM/yyyy' }" [width]="150"></dxi-column>
                        <dxi-column caption="Hiệu lực đến ngày" dataField="hieuLucToiNgay" dataType="date"
                            [format]="{ type: 'dd/MM/yyyy' }" [width]="150"></dxi-column>
                        <dxi-column dataField="" caption="Thao tác" [width]="230" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>

                        <div *dxTemplate="let cell of 'cellTemplateGhiChu'">
                            <div style="white-space: normal; word-wrap: break-word;">
                                {{ cell.data.ghiChu }}</div>
                        </div>
                        <div *dxTemplate="let cell of 'cellTemplateTieuDe'">
                            <div style="white-space: normal; word-wrap: break-word;">
                                {{ cell.data.tieuDe }}</div>
                        </div>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button type="button" class="btn btn-outline-primary  btn-sm"
                                (click)="copyPhieuDanhGia(item.data)" title="Sao chép phiếu đánh giá">
                                <i class="fas fa-clone"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning  btn-sm"
                                (click)="createOrEditPhieuDanhGiaModal.show(item.data)" title="Sửa phiếu">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-success btn-sm"
                                (click)="loadChiTietPhieu(data); tieuChiDanhGiaView.viewPhieuDanhGia(item.data)"
                                title="Thêm tiêu chí đánh giá">
                                <i class="fas fa-list-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa phiếu"
                                (click)="xoaPhieuDanhGia(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getPhieuDanhGia($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số: {{ primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>

            <div class="kt-portlet__body" [hidden]="!isViewDanhSach">
                <app-tieu-chi-danh-gia #tieuChiDanhGiaView (closeEvent)="veTrangDanhSach()"> </app-tieu-chi-danh-gia>
            </div>
        </div>
    </div>
    <createOrEditPhieuDanhGiaModal #createOrEditPhieuDanhGiaModal (modalSave)="getPhieuDanhGia()">
    </createOrEditPhieuDanhGiaModal>
</div>