<div class="kt-section__body">
    <div class="col-12">
        <div id="table-scroll" class="table-scroll">
            <div class="table-wrap">
                <table class="main-table table m-table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th rowspan="2" class="fixed-side" scope="col">TT</th>
                            <th rowspan="2" class="fixed-side1" scope="col">Đơn vị</th>
                            <th colspan="3" scope="col">
                                Tổng số CB,CC,VC và LĐHĐ
                            </th>
                            <th colspan="4" scope="col">
                                Cấp trưởng
                            </th>
                            <th colspan="4" scope="col">
                                Cấp phó
                            </th>
                            <th colspan="4" scope="col">
                                Công chức
                            </th>
                            <th colspan="4" scope="col">
                                Lao động hợp đồng
                            </th>
                            <th colspan="4" scope="col">
                                LĐHĐ theo Nghị định số 68/2000/NĐ-CP
                            </th>
                            <th rowspan="2" class="text-center">Ghi chú</th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let i of lstHeader">
                                <td class="text-center" *ngFor="let  tdct of tongHopKetQuaTH06.thangDiemChiTiet">
                                    {{tdct.tenThangDiem}}
                                </td>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- <tr *ngFor="let item of tongHopKetQuaTH04.lstKetQuaDonVi; let i = index;">
                            <td class="fixed-side"> {{i+1}} </td>
                            <td class="fixed-side1"> {{item.tenDonVi}} </td>
                            <td class="text-center"> {{item.tongSo}} </td>
                            <td class="text-center"> {{item.soDuocDanhGia}} </td>
                            <td class="text-center"> {{item.soKhongDanhGia}} </td>
                            <td> {{item.lyDoKhongDanhGia}} </td>

                            <ng-container *ngFor="let itemCvQL of item.lstNhomChucVu">
                                <ng-container *ngFor="let cv of itemCvQL.lstChucVu">
                                    <ng-container *ngFor="let itemTd of cv.lstThangDiem">
                                        <td *ngIf="!itemCvQL.isNhomChucVu" class="text-center">
                                            {{itemTd.soLuong}}
                                        </td>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngFor="let itemTd of itemCvQL.lstThangDiem">
                                    <td *ngIf="itemCvQL.isNhomChucVu" class="text-center">
                                        {{itemTd.soLuong}}
                                    </td>
                                </ng-container>
                            </ng-container>
                            <td></td>
                        </tr> -->

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>