<div id="phieuDanhGia" [busyIf]="isLoadingForm">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Đánh giá cá nhân</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Hệ thống / Đánh giá cá nhân
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <!-- <button class="btn btn-primary pull-right" (click)="createOrEditDonViModal.show(null, false)">
          <i class="fa fa-plus"></i> Thêm
        </button> -->
            </div>
        </div>
    </div>
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">
        <div class="kt-portlet " style="border: solid 1px #716aca;">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"></h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y">
                <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head" style="margin-top: -27px;">

                    </div>
                    <div class="kt-widget__body">
                        <div class="kt-widget__section">
                            <h1 class="m-widget20__number m--font-success">
                                {{totalMark|number:'.0-2'}}/{{maxTotalMark}}
                            </h1>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%':perMark}">
                                <span class="sr-only">{{perMark}}% Complete</span>
                            </div>
                        </div>
                        <div class="kt-widget__section" style="margin-top: 12px;">
                            <span class="kt-widget__subtitle kt-font-bold kt-font-transform-u">
                                {{thangDiemDisplayText}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body" id="phieu-danh-gia">

                <div class="row form-group">
                    <div class="col-12 text-center">
                        <h3 class="color-h3">{{phieuDanhGiaDto.tieuDe}}</h3>
                        <h6 class="color-h6 font-weight-none">
                            <i> Nội dung đánh giá theo biểu mẫu
                                {{phieuDanhGiaDto.ten}} </i></h6>
                        <h6 class="color-h6 font-weight-none"><i> {{phieuDanhGiaDto.ghiChu}} </i></h6>
                        <h6 class="color-h3 font-weight-none"> {{thoiGianTaoPhieuText}} </h6>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-9">
                        <h6 class="color-h3 font-weight-none"><b>Họ và tên:</b> {{ canBoGuiDanhGiaDto.tenCanBo }}
                        </h6>
                        <h6 class="color-h3 font-weight-none"><b>Chức vụ:</b> {{ canBoGuiDanhGiaDto.tenChucVu }}</h6>
                    </div>
                </div>
                <div class="row form-group table-responsive" id="form">
                    <form [formGroup]="rfDataModal">
                        <table class="table table-bordered ">
                            <thead>
                                <th class="text-center" style="width: 30px;">TT</th>
                                <th class="text-center">Nội dung đánh giá</th>
                                <th class="text-center" width="150px">Điểm tối đa</th>
                                <th class="text-center" width="150px">Cá nhân tự nhận xét</th>
                                <th class="text-center" width="150px">Cá nhân tự chấm</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dataItem of projectData;index as i"
                                    [formGroupName]="prefixField+dataItem.id" [hidden]="!dataItem.isShow">
                                    <td>
                                        <div [class]="'data-title item-title-lv'+ dataItem.level">
                                            <span class="btn-expand" *ngIf="!dataItem.isLeaf"
                                                (click)="onExpandClick(i)">
                                                <i class="fas"
                                                    [ngClass]="{'fa-caret-down': dataItem.expanded ==true,'fa-caret-right': dataItem.expanded == false}"></i>
                                            </span>
                                            <span [class.content-parent]="dataItem.isLeaf==false"
                                                [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                                {{dataItem.kyHieu}}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div [class]="'data-title item-title-lv'+ dataItem.level">
                                            <span [class.content-parent]="dataItem.isLeaf==false"
                                                [ngClass]="{'text-bold': (dataItem.isCapCha === true)}">
                                                {{dataItem.ten}}
                                            </span>
                                        </div>
                                    </td>

                                    <td class="text-right">
                                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                            <div class="form-group validated">
                                                <div class="text-right" *ngIf="dataItem.diemToiThieu == 0">
                                                    {{dataItem.diemToiDa}}
                                                </div>
                                                <div class="text-right" *ngIf="dataItem.diemToiThieu > 0">
                                                    Từ {{dataItem.diemToiThieu}} đến
                                                    {{dataItem.diemToiDa}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-title-total"
                                            *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                            {{dataItem.diemToiDa | number:'.0-1'}}
                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                            <textarea class="form-control style-texarea-table" rows="1"
                                                formControlName="nhanXet" tabindex="{{dataItem.thuTu}}">
                                                </textarea>

                                        </div>
                                    </td>
                                    <td>
                                        <div *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Field">
                                            <div class="form-group validated">
                                                <!-- <input type="text" class="form-control text-right" id="{{dataItem.id}}"
                                                    [ngClass]="{'border-invalid':diemIsInValid(dataItem.id)}"
                                                    (ngModelChange)="onDiemChange($event, dataItem.diemToiDa, dataItem.id)"
                                                    tabindex="{{dataItem.thuTu}}" [max]="dataItem.diemToiDa" min="0"
                                                    (paste)="onPasteInputDiem($event)" formControlName="diem"
                                                    (keypress)="only_number($event)" /> -->
                                                <div class="dx-field-value">
                                                    <dx-number-box formControlName="diem" [min]="0"
                                                        tabindex="{{dataItem.thuTu}}" (ngModelChange)="onDiemChange()"
                                                        [max]="dataItem.diemToiDa" [showSpinButtons]="true"
                                                        class="text-right" (keypress)="only_number($event)"
                                                        [ngClass]="{'border-invalid':diemIsInValid(dataItem.id)}">
                                                    </dx-number-box>
                                                </div>

                                                <div class="invalid-feedback" *ngIf="diemHasError(dataItem.id)">
                                                    Nhập điểm!
                                                </div>
                                                <div class="invalid-feedback" *ngIf="diemHasError(dataItem.id,'min')">
                                                    Điểm phải trong khoảng từ 0 - {{dataItem.diemToiDa}}!
                                                </div>
                                                <div class="invalid-feedback" *ngIf="diemHasError(dataItem.id,'max')">
                                                    Điểm phải trong khoảng từ 0 - {{dataItem.diemToiDa}}!
                                                </div>
                                                <div class="invalid-feedback"
                                                    *ngIf="diemHasError(dataItem.id,'errorMaxValue')">
                                                    Điểm phải bằng 0 hoặc từ {{dataItem.diemToiThieu}} đến
                                                    {{dataItem.diemToiDa}}!
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-title-total"
                                            *ngIf="checkTypeRow(dataItem.isCapCha)===typeRow.Title">
                                            {{getTongDiemGroup(dataItem.id) | number:'.0-1'}}
                                        </div>
                                    </td>
                                </tr>
                                <tr style="font-weight:bold">
                                    <td></td>
                                    <td>Tổng điểm</td>
                                    <td class="text-right">{{maxTotalMark | number:'.0-1'}}</td>
                                    <td class="text-right"></td>
                                    <td class="text-right item-title-total">{{totalMark | number:'.0-1'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>


                </div>
                <div class="row">
                    <div class="col-12 margin-bottom-5">
                        <h4 class="kt-font-transform-u color-h3">Cá nhân tự xếp loại:</h4>
                    </div>
                    <div class="col-12 form-group">
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--bold kt-radio--brand col-lg-2"
                                *ngFor="let item of thangDiemChiTietDto">
                                <input disabled type="radio" [value]="item.id" [(ngModel)]="thangDiemId"> {{item.ten}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-3 col-xl-3">
                    </div>
                    <div class="col-lg-9 col-xl-9 text-right">
                        <button type="submit" class="btn btn-primary" (click)="save(trangThaiGui.LuuNhap)"
                            *ngIf="phieuDanhGiaCanBoDto.trangThai == 2" [buttonBusy]="draftSaving"
                            [disabled]="sendSaving" [busyText]="l('SavingWithThreeDot' | localize)">
                            <span>Lưu nháp</span></button>
                        <button type="submit" class="btn btn-success" (click)="save(trangThaiGui.DaGui)"
                            [buttonBusy]="sendSaving" [disabled]="draftSaving"
                            [busyText]="l('SavingWithThreeDot' | localize)"
                            *ngIf="(!phieuDanhGiaCanBoDto.hetHanDanhGia && phieuDanhGiaCanBoDto.isSuaKetQua)">
                            <span>Gửi </span></button>
                        <button type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>