<div [@routerTransition]>
    <div id="dsPhieuDanhGia" [hidden]="!isViewDsPhieuDanhGia">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>Đánh giá nhân viên</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    <i class="flaticon-home"></i> / Phiếu đánh giá / Pho chu tich Đánh giá nhân viên
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper"></div>
            </div>
        </div>

        <div class="kt-content">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="filterText">Tháng</label>
                                <shared-month-selection [(modelDate)]="filterMonth" (valueChange)="
                                        onChangeMonthSelection($event)
                                    ">
                                </shared-month-selection>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="filterText">Trạng thái</label>
                                <dx-select-box [dataSource]="lstTrangThaiPhieu" displayExpr="text" valueExpr="id"
                                    [(ngModel)]="trangThaiPhieu"></dx-select-box>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="filterText">Chức vụ</label>
                                <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId">
                                </shared-ui-can-bo-chuc-vu-combo>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="btn"> &nbsp;</label>
                            <button class="btn btn-primary margin-top-25" type="button"
                                (click)="getDanhSachPhieuDanhGia()">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <div class="">
                            <table class="table table-bordered" style="font-size: 14px;">
                                <thead class="text-center">
                                    <tr>
                                        <th width="10%" rowspan="2" class="text-center"> # </th>
                                        <th width="15%" rowspan="2"> Họ và tên người được đánh giá </th>
                                        <th width="15%" rowspan="2"> Chức vụ</th>
                                        <th width="40%" colspan="4"> MỨC ĐÁNH GIÁ, XẾP LOẠI </th>
                                        <th width="10%" rowspan="2"> Ghi chú
                                            <br />
                                            <i style="font-weight: normal;"> (Lý do trừ điểm, cộng điểm) </i>
                                        </th>
                                        <th width="10%" rowspan="2"> Thao tác</th>
                                    </tr>
                                    <tr>
                                        <th *ngFor="let item of thangDiemChiTietDto">
                                            {{ item.ten }}
                                            <br />
                                            <i style="font-weight: normal;"> (Từ {{item.diemSan}} đến
                                                {{item.diemTran}}
                                                điểm)
                                            </i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="scrollContent">
                                    <tr *ngFor="let item of primengTableHelper.records; index as i;">
                                        <td width="10%" class="text-center"> {{i+1}} </td>
                                        <td width="15%"> {{item.tenCanBo}} </td>
                                        <td width="15%"> {{item.tenChucVu}} </td>
                                        <td width="10%" *ngFor="let td of thangDiemChiTietDto" class="text-center">
                                            <label class="kt-radio kt-radio--bold kt-radio--brand col-lg-2">
                                                <input type="radio" [value]="td.id" name="{{item.phieuDanhGiaCanBoId}}"
                                                    [disabled]="item.hetHanDanhGia || !item.isSuaKetQua || trangThaiPhieu == 2"
                                                    [(ngModel)]="item.thangDiemChiTietId" />
                                                <span></span>
                                            </label>

                                        </td>
                                        <td width="10%">
                                            <textarea class="form-control style-texarea-table" rows="2"
                                                *ngIf="trangThaiPhieu != 2" tabindex="{{item.thuTu}}"
                                                [(ngModel)]="item.nhanXet"> </textarea>
                                        </td>
                                        <td width="10%" class="text-center">
                                            <button type="button" class="btn btn-warning btn-icon"
                                                *ngIf="trangThaiPhieu != 2" title="Xem phiếu đánh giá"
                                                (click)="showChiTietPhieuDanhGia(item); isViewChiTiet = true;"><i
                                                    class="fas fa-file"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-3 col-xl-3"></div>
                        <div class="col-lg-9 col-xl-9 text-right">
                            <button type="submit" class="btn btn-success" (click)="save()" *ngIf="trangThaiPhieu != 2"
                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)">
                                <span>Gửi kết quả</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-chi-tiet-phieu-danh-gia-ca-nhan #chiTietPhieuComponentView
    *ngIf="isViewDsPhieuDanhGia===false && isViewChiTiet === true" [chucVuDanhGiaId]="selectChucVuId"
    [phieuDanhGiaCanBoInput]="dataItemSlected" (modalSave)="onModalPhieuDanhGiaClose($event)">
</app-chi-tiet-phieu-danh-gia-ca-nhan>