.border-none {
    border: none;
}

.bgr-lats-cell {
    background: #E0FFFF;
}

#kt_user_profile_aside {
    opacity: 1;
    position: fixed;
    z-index: 100;
    bottom: 30px
}

.e-label {
    color: black !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}

input:invalid {
    box-shadow: none;
}

#kt_user_profile_aside {
    opacity: 1;
    position: fixed;
    z-index: 100;
    bottom: 30px
}
.border-invalid{
    border-color:red;
}

.table thead th{
    vertical-align: inherit;
}
.table th, .table td{
    vertical-align: inherit;
}

.data-title {
    .btn-expand {
        cursor: pointer;
        font-size: 16px;
    }

    .content-parent {
        font-weight: bold;
    }

    .content-child {
    }
}

.item-title-lv2 {
    padding-left: 15px;
}

.item-title-lv3 {
    padding-left: 30px;
}

.item-title-lv4 {
    padding-left: 45px;
}

.item-title-lv5 {
    padding-left: 60px;
}

.item-title-total {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    color: blue;
}

.text-bold{
    font-weight: bold;
}


tbody {
    display:block;
    height:450px;
    overflow-y: scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

#table ::-webkit-scrollbar {
  width: 3px !important;
}
