<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
  <div class="modal-dialog modal-sp">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>Cấu hình chức vụ đánh giá</span>
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-success pull-right" (click)="loadChucVuDanhGiaMacDinh()">
              <span>Hiển thị đánh giá mặc định</span>
            </button>
          </div>
          <div class="col-12">
            <div class="m-section">
              <div class="m-section__content">
                <table class="table table-striped m-table">
                  <thead>
                    <tr>
                      <th style="width: 80px !important;">
                        Thứ tự
                      </th>
                      <th>
                        Chức vụ đánh giá
                      </th>
                      <th>
                        Cán bộ đánh giá
                      </th>
                      <th class="text-center" style="width: 150px !important;">
                        Chấm / duyệt
                      </th>
                      <th class="text-center" style="width: 205px !important;">
                        Thao tác
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of lstChucVuDanhGia; let i = index">
                      <td class="text-center">
                        <input type="text" class="form-control" [(ngModel)]="item.thuTu" disabled />
                      </td>
                      <td>
                        <div class="form-md-line-input form-md-floating-label ">
                          <shared-ui-chuc-vu-combo [(item)]="item.chucVuDanhGiaId" #chucVuComboComponent2
                            (valueChange)="onChangeChucvu(item)">
                          </shared-ui-chuc-vu-combo>
                        </div>
                      </td>
                      <td>
                        <div class="form-md-line-input form-md-floating-label ">
                          <div class="dx-field-value" *ngIf="item.loaiChucVu == 1">
                            <dx-select-box [dataSource]="item.listCanBoChucVu" displayExpr="tenCanBo"
                              valueExpr="canBoId" [(ngModel)]="item.canBoDanhGiaId" [searchMode]="'contains'"
                              [searchExpr]="searchExprOption" [minSearchLength]="minSearchLengthOption"
                              [searchEnabled]="true" valueChangeEvent="keyup">
                            </dx-select-box>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="kt-checkbox-single text-center">
                          <dx-select-box [dataSource]="lstChamDuyet" displayExpr="text" valueExpr="id"
                            [(ngModel)]="item.nguoiCham">
                          </dx-select-box>
                        </div>
                      </td>
                      <td>

                        <button (click)="upPositionParameterCategory(i)"
                          class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                          style="margin-left: 10px">
                          <i class="fa fa-arrow-up"></i>
                        </button>
                        <button (click)="downPositionParameterCategory(i)"
                          class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                          style="margin-left: 10px">
                          <i class="fa fa-arrow-down"></i>
                        </button>
                        <button (click)="removeItem(i, item.id)"
                          *ngIf="isGranted('Pages.Admin.CanBo.Edit.XoaCauHinhLuongDanhGia')"
                          class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                          style="margin-left: 10px" title="Xóa">
                          <i class="fa fa-times"></i>
                        </button>

                        <!-- <button type="button" class="btn btn-outline-danger btn-sm" style="margin-top: 2px;"
                          *ngIf="isGranted('Pages.Admin.CanBo.Edit.XoaCauHinhLuongDanhGia')"
                          (click)="removeItem(i, item.id)">
                          <i class="fas fa-trash-alt"></i>
                        </button> -->
                      </td>
                    </tr>
                    <!-- <tr>
                      <td colspan="5">
                        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addItem()">
                          <i class="fas fa-plus"></i> Thêm
                        </button>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
          [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
          <span>{{"Save" | localize}}</span></button>
        <button [disabled]="saving" type="button" class="btn btn-secondary"
          (click)="close()">{{"Cancel" | localize}}</button>
      </div>

    </div>
  </div>
</div>

<!-- <div class="col-12">
  <dx-select-box [dataSource]="lstChucVuCanBo" displayExpr="tenChucVu" valueExpr="chucVuId"
    (onValueChanged)="onChangeChucVuDanhGia()" [(ngModel)]="chucVuCanBoId">
  </dx-select-box>
</div> -->
<!-- <div class="col-12 padding-0 title-subbox">
  <span> Chức vụ đánh giá </span>
  <dx-button (onClick)="loadChucVuDanhGiaMacDinh()" class="pull-right"> Hiển thị đánh giá mặc định
  </dx-button>
</div> -->