<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="createOrUpdateTieuChiDanhGiaForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="tieuChiDanhGiaDto.id">Cập nhật tiêu chí đánh giá</span>
                        <span *ngIf="!tieuChiDanhGiaDto.id">Tạo mới tiêu chí đánh giá</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Ký hiệu <span class="red"> * </span></label>
                                <input formControlName="kyHieu" class="form-control" type="text"
                                    [(ngModel)]="tieuChiDanhGiaDto.kyHieu" />
                                <div *ngIf="submitted && f['kyHieu'].errors" class="form-control-feedback">
                                    <div *ngIf="f['kyHieu'].errors.required || f['kyHieu'].errors.whitespace">
                                        Tên phiếu không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Điểm tối thiểu <span class="red"> * </span></label>
                                <input formControlName="diemToiThieu" class="form-control" type="number"
                                    [(ngModel)]="tieuChiDanhGiaDto.diemToiThieu" />

                                <div *ngIf="submitted && f['diemToiThieu'].errors" class="form-control-feedback">
                                    <div
                                        *ngIf="f['diemToiThieu'].errors.required || f['diemToiThieu'].errors.whitespace">
                                        Điểm tối thiểu không được để trống
                                    </div>
                                    <div *ngIf="f['diemToiThieu'].errors.min || f['diemToiThieu'].errors.min">
                                        Điểm tối thiểu không được nhỏ hơn 0
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Điểm tối đa <span class="red"> * </span></label>
                                <input formControlName="diemToiDa" class="form-control" type="number"
                                    [(ngModel)]="tieuChiDanhGiaDto.diemToiDa" />
                                <div *ngIf="submitted && f['diemToiDa'].errors" class="form-control-feedback">
                                    <div *ngIf="f.diemToiDa.errors.required">
                                        Điểm tối đa không được để trống
                                    </div>
                                    <div *ngIf="f.diemToiDa.errors.min">
                                        Điểm tối đa không được nhỏ hơn 0
                                    </div>
                                    <div *ngIf="f.diemToiDa.errors.max">
                                        Điểm tối đa không được vượt quá 100
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label> Thứ tự <span class="red"> * </span></label>
                                <input formControlName="thuTu" class="form-control" type="text"
                                    [(ngModel)]="tieuChiDanhGiaDto.thuTu" />

                                <div *ngIf="submitted && f['thuTu'].errors" class="form-control-feedback">
                                    <div *ngIf="f['thuTu'].errors.required || f['thuTu'].errors.whitespace">
                                        Tên phiếu không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Tiêu chí cha </label>
                                <div class="dx-field-value">
                                    <dx-select-box formControlName="tieuChiChaId" [dataSource]="lstData"
                                        displayExpr="ten" valueExpr="id" [searchExpr]="searchExprOption"
                                        [minSearchLength]="minSearchLengthOption"
                                        [(ngModel)]="tieuChiDanhGiaDto.tieuChiChaId" [searchEnabled]="true"
                                        [searchMode]="'contains'"></dx-select-box>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Nội dung <span class="red"> * </span></label>
                                <textarea formControlName="ten" class="form-control" rows="5"
                                    [(ngModel)]="tieuChiDanhGiaDto.ten">
                                </textarea>

                                <div *ngIf="submitted && f['ten'].errors" class="form-control-feedback">
                                    <div *ngIf="f['ten'].errors.required || f['ten'].errors.whitespace">
                                        Nội dung không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ "Save" | localize }}</span>
                    </button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        {{ "Cancel" | localize }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>