<div class="row form-group">
    <div class="col-8">
        <h4>Chi tiết phiếu: {{ phieuDanhGia.ten }}</h4>
        <h6>{{ tieuDe }}</h6>
    </div>
    <div class="col-4">
        <button class="btn btn-default pull-right" (click)="close()">
            <i class="fa fa-undo"></i> Trờ về
        </button>
        <button class="btn btn-primary pull-right margin-right-5" (click)="
                createOrEditTieuChiDanhGiaModal.show(
                    null,
                    phieuDanhGia.id,
                    false,
                    projectData
                )
            ">
            <i class="fa fa-plus"></i> Thêm tiêu chí
        </button>
    </div>
</div>

<dx-tree-list #donViTreeList id="employees" [dataSource]="projectData" [rootValue]="null" keyExpr="id"
    parentIdExpr="tieuChiChaId" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true"
    [wordWrapEnabled]="true" [expandedRowKeys]="[1]">
    <dxi-column dataField="kyHieu" caption="TT" [width]="100"></dxi-column>
    <dxi-column caption="Nội dung đánh giá" cellTemplate="cellTemplateNoiDung"></dxi-column>
    <div *dxTemplate="let cell of 'cellTemplateNoiDung'">
        <div style="white-space: normal; word-wrap: break-word;">
            {{ cell.data.ten }}</div>
    </div>
    <dxi-column caption="Điểm tối đa" dataField="diemToiDa" style="font-weight: bold;"></dxi-column>
    <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false" [allowSorting]="false"
        cellTemplate="cellTemplate"></dxi-column>
    <div *dxTemplate="let item of 'cellTemplate'">
        <button type="button" class="btn btn-outline-primary btn-sm"
            (click)="createOrEditTieuChiDanhGiaModal.show(item.data, null, false,projectData ) ">
            <i class="fas fa-plus"></i>
        </button>
        <button type="button" class="btn btn-outline-warning btn-sm"
            (click)="createOrEditTieuChiDanhGiaModal.show(item.data, null, true, projectData)">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa" (click)="xoaTieuChi(item.data)">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</dx-tree-list>

<createOrEditTieuChiDanhGiaModal #createOrEditTieuChiDanhGiaModal (modalSave)="getTieuChiDanhGia()">
</createOrEditTieuChiDanhGiaModal>