<div bsModal #createOrEditModal2="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal2" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Luồng đánh giá</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span>Phiếu đánh giá tháng: {{phieuDanhGiaCanBo.thang}}/{{phieuDanhGiaCanBo.nam}}</span>
                    <br>
                    <span>Tổng điểm tự đánh giá: {{phieuDanhGiaCanBo.tongDiemCaNhan}}</span>
                </div>
                <div class="row form-group table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                            <th class="text-center" style="width: 30px;">STT</th>
                            <th class="text-center" width="150px">Cán bộ</th>
                            <th class="text-center" width="150px">Chức vụ</th>
                            <th class="text-center" width="150px">Trạng thái</th>
                            <th class="text-center" width="150px">Tổng điểm</th>
                            <th class="text-center" width="200px">Xếp loại</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of projectData;index as i">
                                <td scope="row">
                                    <div style="text-align: center">
                                        {{ i + 1 }}
                                    </div>
                                </td>
                                <td>
                                    <span>{{item.tenCanBo}}</span>
                                </td>
                                <td>
                                    <span>{{item.tenChucVu}}</span>
                                </td>
                                <td>
                                    <div style="text-align: center">
                                        <span class="kt-badge kt-badge--warning kt-badge--inline"
                                            *ngIf="item.trangThai != 3">Chờ đánh
                                            giá</span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline"
                                            *ngIf="item.trangThai == 3">Đã đánh giá </span>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="item.trangThai == 3" style="text-align: center">
                                        <span>{{item.tongDiem}}</span>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="item.trangThai == 3" style="text-align: center">
                                        <span>{{item.xepLoai}}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
            </div>

        </div>
    </div>
</div>