<div [@routerTransition]></div>
<div class="kt-subheader kt-grid__item">
  <div class="kt-subheader__main">
    <h3 class="kt-subheader__title">
      <span>Báo cáo</span>
    </h3>
    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
    <span class="kt-subheader__desc">
      <i class="flaticon-home"></i> / Cấu hình / Báo cáo
    </span>
  </div>
  <div class="kt-subheader__toolbar">
    <div class="kt-subheader__wrapper">
      <button class="btn btn-primary pull-right" (click)="createOrEditBaoCaoModal.show(null, false)">
        <i class="fa fa-plus"></i> Thêm
      </button>
    </div>
  </div>
</div>

<div class="kt-content">
  <div class="kt-portlet">
    <div class="kt-portlet__body">

      <div class="row">
        <div class="col-md-6" [ngClass]="(viewType == 0) ? 'col-md-12' : 'col-md-6'">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="filterText">Từ khóa</label>
                <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
              </div>
            </div>
            <div class="form-group col-md-2">
              <label for="btn"> &nbsp;</label>
              <button class="btn btn-primary margin-top-25" type="button" (click)="getBaoCao()">
                Tìm kiếm
              </button>
            </div>
          </div>

          <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
            [wordWrapEnabled]="true" [showRowLines]="true">

            <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
            <dxi-column caption="Mã báo cáo" dataField="maBaoCao" [width]="100"></dxi-column>
            <dxi-column caption="Tên báo cáo" dataField="tenBaoCao"></dxi-column>
            <dxi-column caption="Mô tả" dataField="mota"></dxi-column>

            <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false" [allowSorting]="false"
              cellTemplate="cellTemplate"></dxi-column>
            <div *dxTemplate="let item of 'cellTemplate'">
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="openChucVuSuDungBaoCao(item.data)"
                title="Chức vụ sử dụng">
                <i class="fas fa fa-cog"></i>
              </button>
              <button type="button" class="btn btn-outline-warning  btn-sm"
                (click)="createOrEditBaoCaoModal.show(item.data, true)" title="Sửa">
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa" title="Xóa"
                (click)="xoaBaoCao(item.data)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </dx-data-grid>

          <div class="col-12">
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
              <div class="primeng-paging-container">
                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                  (onPageChange)="getBaoCao($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                </p-paginator>
                <span class="total-records-count">
                  Tổng số:
                  {{ primengTableHelper.totalRecordsCount }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="viewType == 1">
          <div style="border-left: 1px dotted #ccc;">
            <div class="modal-header">
              <h4 class="modal-title">
                <span>Chức vụ sử dụng báo cáo - {{selectCurrentItem.maBaoCao}}</span>
              </h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <button type="button" class="btn btn-secondary btn-hover-brand  pull-right"
                    (click)="dongChiTietNhomDoiTuong()" style="margin-top: 12px; margin-left: 12px;">Đóng</button>
                  <button type="submit" class="btn btn-success pull-right"
                    (click)="nhomDoiTuongChiTietModal.show(lstChucVuSuDungBaoCao, selectCurrentItem, 3)"
                    style="margin-top: 12px;margin-bottom: 12px;">
                    <i class="fa fa-plus"></i>
                    <span> Thêm chức vụ</span></button>
                </div>
                <div class="col-12">
                  <div class="table-wrapper-scroll-y table-custom-scrollbar">
                    <div class="m-section">
                      <div class="m-section__content">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th style="width: 100px !important;">
                                Thứ tự
                              </th>
                              <th>
                                Tên chức vụ
                              </th>
                              <th style="width: 150px !important;">
                                Thao tác
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of lstChucVuSuDungBaoCao; let i = index">
                              <td class="text-center">
                                {{i+1}}
                              </td>
                              <td>
                                {{item.tenChucVu}}
                              </td>
                              <td>
                                <button type="button" class="btn btn-outline-danger btn-sm" style="margin-top: 2px;"
                                  (click)="removeChucVuSuDungBaoCao(item.id)">
                                  <i class="fas fa-trash-alt"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nhomDoiTuongChiTietModal #nhomDoiTuongChiTietModal (modalSave)="getDsChucVuSuDungBaoCao()">
  </nhomDoiTuongChiTietModal>
  <createOrEditBaoCaoModal #createOrEditBaoCaoModal (modalSave)="getBaoCao()">
  </createOrEditBaoCaoModal>
</div>