<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="createOrUpdateBaoCaoForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="baoCaoDto.id">Cập nhật báo cáo</span>
                        <span *ngIf="!baoCaoDto.id">Tạo mới báo cáo</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Mã báo cáo<span class="red"> * </span></label>
                                <input formControlName="mabaocao" class="form-control" type="text"
                                    [(ngModel)]="baoCaoDto.maBaoCao">
                                <div *ngIf="submitted && f.mabaocao.errors" class="invalid-feedback">
                                    <div *ngIf="f.mabaocao.errors.required">Mã báo cáo không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Tên báo cáo<span class="red"> * </span></label>
                                <input formControlName="tenbaocao" class="form-control" type="text"
                                    [(ngModel)]="baoCaoDto.tenBaoCao">
                                <div *ngIf="submitted && f.tenbaocao.errors" class="invalid-feedback">
                                    <div *ngIf="f.tenbaocao.errors.required">Tên báo cáo không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Nguồn<span class="red"> * </span></label>
                                <input formControlName="source" class="form-control" type="text"
                                    [(ngModel)]="baoCaoDto.source">
                                <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
                                    <div *ngIf="f.source.errors.required">Ngồn báo cáo không được để trống</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Đường dẫn<span class="red"> * </span></label>
                                <input formControlName="duongDanBieuMau" class="form-control" type="text"
                                    [(ngModel)]="baoCaoDto.duongDanBieuMau">
                                <div *ngIf="submitted && f.duongDanBieuMau.errors" class="invalid-feedback">
                                    <div *ngIf="f.duongDanBieuMau.errors.required">Đường dẫn báo cáo không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Mô tả</label>
                                <textarea formControlName="mota" class="form-control" [(ngModel)]="baoCaoDto.mota"
                                    rows="3"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                </div>

            </form>

        </div>
    </div>
</div>