<div class="kt-login__form" [@routerTransition] id="TenantDashboard">
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{ "Trang Đơn vị" | localize }}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{ "DashboardHeaderInfo" | localize }}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId" (valueChange)="onChangeChucVuChinh()">
            </shared-ui-can-bo-chuc-vu-combo>
        </div>
    </div>

    <div class="kt-content kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Tỷ lệ phân loại đánh giá
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <shared-month-selection [(modelDate)]="modelDateTyLePhanLoaiDanhGia"
                                (modelDateChange)="loadTyLePhanLoaiDanhGia($event)" #dateTyLePhanLoaiDanhGia>
                            </shared-month-selection>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div style="height: 220px;" id="tyLeThangDiem"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Kết quả đánh giá các tháng
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <shared-ui-nam-combo [(item)]="filterYear"
                                (valueChange)="loadBieuDoDiemXepLoaiTheoThang($event)">
                            </shared-ui-nam-combo>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div style="height: 220px;" id="bieuDoDiemXepLoaiTheoThang"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Cán bộ tốt nhất
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar"></div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item" *ngFor="let item of lstNhanVienXuatSac">
                                <span class="kt-widget4__icon">
                                    <i class="flaticon-medal kt-font-gold"></i>
                                </span>
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <!-- <img
                                        src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo2/dist/assets/media/users/100_4.jpg" /> -->
                                </div>
                                <div class="kt-widget4__info">
                                    <a class="kt-widget4__username">{{item.tenCanBo}}</a>
                                    <p class="kt-widget4__text">{{item.tenChucVu}}</p>
                                </div>
                                <span class="kt-widget4__number kt-font-success">{{item.diemTrungBinh}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Cán bộ kém nhất
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar"></div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-widget4">
                            <div class="kt-widget4__item" *ngFor="let item of lstNhanVienKem">
                                <span class="kt-widget4__icon">
                                    <i class="flaticon-medal kt-font-silver"></i>
                                </span>
                                <div class="kt-widget4__pic kt-widget4__pic--pic">
                                    <!-- <img
                                        src="https://keenthemes.com/metronic/themes/metronic/theme/default/demo2/dist/assets/media/users/100_4.jpg" /> -->
                                </div>
                                <div class="kt-widget4__info">
                                    <a class="kt-widget4__username">{{item.tenCanBo}}</a>
                                    <p class="kt-widget4__text">{{item.tenChucVu}}</p>
                                </div>
                                <span class="kt-widget4__number kt-font-danger">{{item.diemTrungBinh}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                                Tỉ lệ hoàn thành phiếu
                            </h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                            <shared-month-selection [(modelDate)]="modelDateTyLeHoanThanhPhieu"
                                (modelDateChange)="loadTyLeHoanThanhPhieu($event)" #dateTyLeHoanThanhPhieu>
                            </shared-month-selection>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div style="height: 220px;" id="tyLeHoanThanhPhieu"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>