<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Gửi thông báo</span>
            </h3>
        </div>
    </div>
    <div class="kt-content">
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <button (click)="guiThongBao()">Gửi thông báo</button>
    </div>
</div>

