<div class="kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
    <div class="kt-portlet__head kt-portlet__head--noborder">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Kết quả đánh giá các tháng của đơn vị
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
        </div>
    </div>
    <div class="kt-portlet__body" [busyIf]="loading">
        <div style="height: 300px;" id="bieuDoKQDGCacThang"></div>
    </div>
</div>