.table-scroll {
  position:relative;
  max-width: 1390px;
  margin:auto;
  overflow:hidden;
  /* border:1px solid #000; */
}
.table-wrap {
  width:100%;
  overflow:auto;
}
.table-scroll table {
  width:100%;
  margin:auto;
  border-collapse:separate;
  border-spacing:0;
}
.table-scroll th, .table-scroll td {
  padding:5px 10px;
  border:1px solid #000;
  background:#fff;
  white-space:nowrap;
  vertical-align: middle;  
  /* min-width: 150px; */
}
.table-scroll thead, .table-scroll tfoot {
  background:#f9f9f9;
}
.clone {
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
}
.clone th, .clone td {
  visibility:hidden
}
.clone td, .clone th {
  border-color:transparent
}
.clone tbody th {
  visibility:visible;
  color:red;
}
.clone .fixed-side {
  border:1px solid #000;
  background:#eee;
  visibility:visible;
}
.clone thead, .clone tfoot{background:transparent;}
.fixed-side {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 0;
    position: sticky;
    top: auto;
    min-width: 20px !important;
}

.fixed-side1 {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 39px;
    position: sticky;
    top: auto;
    min-width: 100px !important;
}

.fixed-side2 {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 181px;
    position: sticky;
    top: auto;
    min-width: 220px !important;
}

.fixed-side3 {
    border-left: solid 1px #DDEFEF;
    border-right: solid 1px #DDEFEF;
    left: 346px;
    position: sticky;
    top: auto;
    min-width: 100px !important;
}

.color-green{
  background-color:#D2F7D4 !important;
}

.td-width{
   min-width: 150px !important;
}



.div-thang-diem{
    /* width: 100px;
    height: 100px;
     transform: rotateZ(90deg); */
}
