<div class="kt-portlet__head" [hidden]="!isShowBaoCaoChieTiet">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title" style="    text-transform: uppercase;">
            {{ baoCaoInfo.tenBaoCao }}<small></small>
        </h3>
    </div>
    <div class="kt-portlet__head-toolbar"></div>
</div>

<div class="kt-form kt-form--label-right">
    <div class="kt-portlet__body">
        <div class="row form-group">
            <div class="col-md-2" *ngIf="loaiThoiGianShow">
                <label for="filterText">Loại thời gian</label>
                <shared-ui-loai-thoi-gian-combo [(item)]="loaiThoiGian"></shared-ui-loai-thoi-gian-combo>
            </div>
            <div class="col-md-2" *ngIf="thoiGianBatDauShow">
                <label for="filterText">Thời gian</label>
                <shared-month-selection [(modelDate)]="thoiGianBatDau">
                </shared-month-selection>
            </div>
            <div class="col-md-3" *ngIf="donViShow">
                <div class="">
                    <label for="filterText">Phòng ban</label>
                    <dx-tag-box [items]="dropdownListDonVi" [(ngModel)]="selectedItemsDonVi" displayExpr="tenDonVi"
                        valueExpr="id" [showSelectionControls]="true" selectAllMode="allPages" [maxDisplayedTags]="2">
                    </dx-tag-box>

                </div>
            </div>
            <div class="col-md-4" *ngIf="doiTuongHienThiShow">
                <div class="">
                    <label> Đối tượng hiển thị </label>
                    <dx-tag-box [items]="dropdownListDoiTuongHienThi" [(ngModel)]="selectedItemsDoiTuongHienThi"
                        displayExpr="ten" valueExpr="id" [showSelectionControls]="true" selectAllMode="allPages"
                        [maxDisplayedTags]="2">
                    </dx-tag-box>

                </div>
            </div>
            <div class="col-md-2" *ngIf="baoCaoInfo.id != 0">
                <label for="btn"> &nbsp;</label>
                <button class="btn btn-primary margin-top-25" type="button" (click)="getBaoCaoChiTiet()">
                    Tìm kiếm
                </button>
            </div>
        </div>
        <div class="kt-section kt-section--first">
            <div class="kt-section__body" [hidden]="isStimulsoft">
                <div id="viewer" style="width: 100%;"></div>
            </div>

            <div [hidden]="!isShowTongHopKhoiCacPhuong04">
                <app-tong-hop-khoi-cac-phuong-04 #tonghopkhoicacphuong>
                </app-tong-hop-khoi-cac-phuong-04>
            </div>
            <div [hidden]="!isShowTongHopKhoiCacDang06">
                <app-tong-hop-khoi-cac-dang-06 #tonghopkhoicacdang>

                </app-tong-hop-khoi-cac-dang-06>
            </div>
            <div [hidden]="!isShowTongHopKhoiTruongHoc05">
                <app-tong-hop-khoi-truong-hoc-05 #tonghopkhoitruonghoc>
                </app-tong-hop-khoi-truong-hoc-05>
            </div>
        </div>
    </div>
</div>
