<div class="kt-section__body">
    <div class="col-12">
        <div id="table-scroll" class="table-scroll">
            <div class="table-wrap">
                <table class="main-table table m-table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th rowspan="3" class="fixed-side" scope="col">TT</th>
                        <th rowspan="3" class="fixed-side1" scope="col">Đơn vị</th>
                        <th rowspan="2" colspan="4" scope="col">
                            Tổng số CB,CC và LĐHĐ
                        </th>
                        <ng-container *ngFor="let itemCvQL of lstChucVuNhanVien">
                            <th *ngIf="itemCvQL.tenNhom=='Giáo viên'||itemCvQL.tenNhom=='Nhân viên hành chính'"
                                [attr.colspan]="8" [attr.rowspan]="1" class="text-center">
                                {{itemCvQL.tenNhom}}
                            </th>
                            <th *ngIf="itemCvQL.tenNhom!='Giáo viên' && itemCvQL.tenNhom !='Nhân viên hành chính'"
                                [attr.colspan]="4" [attr.rowspan]="2" class="text-center">
                                {{itemCvQL.tenNhom}}
                            </th>
                        </ng-container>
                        <th rowspan="3" class="text-center">Ghi chú</th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let itemCvQL of lstChucVuNhanVien">
                            <th *ngIf="itemCvQL.tenNhom == 'Giáo viên'||itemCvQL.tenNhom == 'Nhân viên hành chính'"
                                colspan="4" class="text-center">
                                Viên chức
                            </th>
                            <th *ngIf="itemCvQL.tenNhom == 'Giáo viên' || itemCvQL.tenNhom == 'Nhân viên hành chính'"
                                colspan="4" class="text-center">
                                HĐLĐ
                            </th>
                        </ng-container>
                    </tr>
                    <tr>
                        <td>
                            Tổng số
                        </td>
                        <td>
                            Số được đánh giá
                        </td>
                        <td>
                            Số không đánh giá
                        </td>
                        <td>
                            Lý do không đánh giá
                        </td>
                        <ng-container *ngFor="let itemCvQL of lstChucVuNhanVien">
                            <ng-container *ngFor="let td of tongHopKetQua.thangDiemChiTiet">
                                <td class="text-right td-width">
                                    {{td.tenThangDiem}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngFor="let itemCvQL of lstChucVuNhanVien">
                            <ng-container *ngFor="let ty of tongHopKetQua.thangDiemChiTiet">
                                <td *ngIf="itemCvQL.tenNhom=='Giáo viên'||itemCvQL.tenNhom=='Nhân viên hành chính'"
                                    class="text-right td-width">
                                    {{ty.tenThangDiem}}
                                </td>
                            </ng-container>
                        </ng-container>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="fixed-side">
                            I
                        </td>
                        <td class="fixed-side1" >
                            Khối THCS
                        </td>
                        <td class="text-left" [attr.colspan]="tongHopKetQua.soLuongThangDiemDanhGia + 4">

                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of tongHopKetQua.lstKetQuaDonViTHCS; let i = index;">
                        <td class="fixed-side"> {{i + 1}} </td>
                        <td class="fixed-side1"> {{item.tenDonVi}} </td>
                        <td class="text-center"> {{item.tongSo}} </td>
                        <td class="text-center"> {{item.soDuocDanhGia}} </td>
                        <td class="text-center"> {{item.soKhongDanhGia}} </td>
                        <td> {{item.lyDoKhongDanhGia}} </td>

                        <ng-container *ngFor="let itemCvQL of item.lstNhomChucVu">
                            <ng-container *ngFor="let cv of itemCvQL.lstChucVu">
                                <ng-container *ngFor="let itemTd of cv.lstThangDiem">
                                    <td *ngIf="!itemCvQL.isNhomChucVu" class="text-center">
                                        {{itemTd.soLuong}}
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngFor="let itemTd of itemCvQL.lstThangDiem">
                                <td *ngIf="itemCvQL.isNhomChucVu" class="text-center">
                                    {{itemTd.soLuong}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <td></td>
                    </tr>
                    <tbody>
                    <tr>
                        <td class="fixed-side">

                        </td>
                        <td class="fixed-side1" >
                            Tổng (I)
                        </td>
                        <td class="text-center" *ngFor="let item of lstTongTHCS">
                                {{item}}
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-side">
                            II
                        </td>
                        <td class="fixed-side1" >
                            Khối TH
                        </td>
                        <td class="text-left" [attr.colspan]="tongHopKetQua.soLuongThangDiemDanhGia + 4">

                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of tongHopKetQua.lstKetQuaDonViTieuHoc; let i = index;">
                        <td class="fixed-side"> {{i + 1}} </td>
                        <td class="fixed-side1"> {{item.tenDonVi}} </td>
                        <td class="text-center"> {{item.tongSo}} </td>
                        <td class="text-center"> {{item.soDuocDanhGia}} </td>
                        <td class="text-center"> {{item.soKhongDanhGia}} </td>
                        <td> {{item.lyDoKhongDanhGia}} </td>

                        <ng-container *ngFor="let itemCvQL of item.lstNhomChucVu">
                            <ng-container *ngFor="let cv of itemCvQL.lstChucVu">
                                <ng-container *ngFor="let itemTd of cv.lstThangDiem">
                                    <td *ngIf="!itemCvQL.isNhomChucVu" class="text-center">
                                        {{itemTd.soLuong}}
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngFor="let itemTd of itemCvQL.lstThangDiem">
                                <td *ngIf="itemCvQL.isNhomChucVu" class="text-center">
                                    {{itemTd.soLuong}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="fixed-side">

                        </td>
                        <td class="fixed-side1" >
                            Tổng (II)
                        </td>
                        <td class="text-center" *ngFor="let item of lstTongTieuHoc">
                            {{item}}
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-side">
                            III
                        </td>
                        <td class="fixed-side1">
                            Khối MN
                        </td>
                        <td class="text-left" [attr.colspan]="tongHopKetQua.soLuongThangDiemDanhGia + 4">

                        </td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let item of tongHopKetQua.lstKetQuaDonViMamNon; let i = index;">
                        <td class="fixed-side"> {{i + 1}} </td>
                        <td class="fixed-side1"> {{item.tenDonVi}} </td>
                        <td class="text-center"> {{item.tongSo}} </td>
                        <td class="text-center"> {{item.soDuocDanhGia}} </td>
                        <td class="text-center"> {{item.soKhongDanhGia}} </td>
                        <td> {{item.lyDoKhongDanhGia}} </td>

                        <ng-container *ngFor="let itemCvQL of item.lstNhomChucVu">
                            <ng-container *ngFor="let cv of itemCvQL.lstChucVu">
                                <ng-container *ngFor="let itemTd of cv.lstThangDiem">
                                    <td *ngIf="!itemCvQL.isNhomChucVu" class="text-center">
                                        {{itemTd.soLuong}}
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngFor="let itemTd of itemCvQL.lstThangDiem">
                                <td *ngIf="itemCvQL.isNhomChucVu" class="text-center">
                                    {{itemTd.soLuong}}
                                </td>
                            </ng-container>
                        </ng-container>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="fixed-side">

                        </td>
                        <td class="fixed-side1" >
                            Tổng (III)
                        </td>
                        <td class="text-center" *ngFor="let item of lstTongMamNon">
                            {{item}}
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
