<div [@routerTransition]>
    <div id="dsLichSuDanhGia" [hidden]="!isViewDsLichSu">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>Lịch sử đánh giá cá nhân</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc"> <i class="flaticon-home"></i> / Hệ thống/ Đánh giá cán bộ </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper" *ngIf="!this.isDaGuiPhieu">
                    <button class="btn btn-primary pull-right" (click)="showPhieuDanhGia(); isViewDanhGia = true">
                        <i class="fa fa-plus"></i> Tạo phiếu đánh giá mới
                    </button>
                </div>
            </div>
        </div>

        <div class="kt-content">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Thời gian </label>
                                <shared-ui-nam-combo [(item)]="filterYear"></shared-ui-nam-combo>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Chức vụ</label>
                                <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId">
                                </shared-ui-can-bo-chuc-vu-combo>
                            </div>

                        </div>
                        <div class="form-group col-md-2">
                            <label> &nbsp;</label>
                            <button class="btn btn-primary margin-top-25" type="button"
                                (click)="getPhieuDanhGiaCanBo()">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                            [showRowLines]="true" [wordWrapEnabled]="true">

                            <dxi-column caption="Tháng" dataField="" [width]="150" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplateDate"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateDate'">
                                Tháng {{ item.data.thang }} / {{ item.data.nam }}
                            </div>

                            <dxi-column caption="Tổng điểm" dataField="tongDiemCaNhan" [width]="150"></dxi-column>
                            <dxi-column caption="Xếp loại" dataField="xepLoaiCaNhan"></dxi-column>

                            <dxi-column caption="Xếp loại cuối cùng" [width]="150" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplateXepLoai"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateXepLoai'">
                                <span *ngIf="item.data.trangThai != 1"> Chưa có </span>
                                <span *ngIf="item.data.trangThai == 1"> {{ item.data.xepLoaiCuoiCung }} </span>
                            </div>

                            <dxi-column caption="Trạng thái" [width]="130" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplateTrangThai"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateTrangThai'">
                                <div *ngIf="item.data.hetHanDanhGia == false">
                                    <span class="kt-badge kt-badge--brand kt-badge--inline"
                                        *ngIf="item.data.trangThai == 2">Nháp</span>
                                    <span class="kt-badge kt-badge--warning kt-badge--inline"
                                        *ngIf="item.data.trangThai == 3">Chờ đánh giá</span>
                                    <span class="kt-badge kt-badge--success kt-badge--inline"
                                        *ngIf="item.data.trangThai == 1">Hoàn thành</span>
                                </div>
                                <div *ngIf="item.data.hetHanDanhGia">
                                    <span class="kt-badge kt-badge--success kt-badge--inline"
                                        *ngIf="item.data.trangThai == 1">Hoàn thành</span>
                                    <span class="kt-badge kt-badge--dark kt-badge--inline"
                                        *ngIf="item.data.trangThai != 1"> Hết hạn đánh giá</span>
                                </div>
                            </div>

                            <dxi-column caption="Thao tác" dataField="" [width]="250" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplate'">
                                <div class="m-demo__preview m-demo__preview--btn">

                                    <button type="button" class="btn btn-outline-warning  btn-sm" title="Sửa phiếu"
                                        *ngIf="(item.data.trangThai != 1 && !item.data.hetHanDanhGia && item.data.isSuaKetQua)"
                                        (click)="showPhieuDanhGia(item.data); isViewDanhGia = true;"><i
                                            class="fas fa-pencil-alt"></i>
                                    </button>

                                    <button type="button" class="btn btn-warning btn-icon" title="Xem phiếu đánh giá"
                                        *ngIf="(item.data.hetHanDanhGia || !item.data.isSuaKetQua || item.data.trangThai == 1)"
                                        (click)="showChiTietPhieuDanhGia(item.data); isViewChiTiet = true;"><i
                                            class="fas fa-file"></i>
                                    </button>

                                    <button type="button" class="btn btn-info btn-icon"
                                        title="Xem chi tiết luồng đánh giá"
                                        *ngIf="(item.data.hetHanDanhGia || !item.data.isSuaKetQua || item.data.trangThai != 2)"
                                        (click)="showLuongDanhGiaModal(item.data)">
                                        <i class="fas fa-chart-line"></i>
                                    </button>

                                    <button type="button" class="btn btn-success btn-icon" title="Xuất Word"
                                        *ngIf="item.data.trangThai == 1 || item.data.trangThai == 3"
                                        (click)="xuatWord(item.data)">
                                        <i class="fa fa-file-word"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-icon" title="Xuất PDF"
                                        *ngIf="item.data.trangThai == 1 || item.data.trangThai == 3"
                                        (click)="xuatPDF(item.data)">
                                        <i class="fa fa-file-pdf"></i>
                                    </button>
                                    <!-- <button type="button" class="btn btn-outline-danger btn-sm">
                                                    <i class="fas fa-print"></i>
                                                  </button> -->
                                </div>
                            </div>
                        </dx-data-grid>

                    </div>
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="margin-top-15 row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getPhieuDanhGiaCanBo($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        Tổng số: {{ primengTableHelper.totalRecordsCount }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <app-phieu-danh-gia-ca-nhan #phieuDanhGiaCaNhanView *ngIf="isViewDsLichSu===false && isViewDanhGia === true"
        [chucVuDanhGiaId]="selectChucVuId" [phieuDanhGiaCanBoInput]="dataItemSlected"
        (modalSave)="onModalPhieuDanhGiaClose($event)">
    </app-phieu-danh-gia-ca-nhan>

    <app-chi-tiet-phieu-danh-gia-ca-nhan #chiTietPhieuComponentView
        *ngIf="isViewDsLichSu===false && isViewChiTiet === true" [chucVuDanhGiaId]="selectChucVuId"
        [phieuDanhGiaCanBoInput]="dataItemSlected" (modalSave)="onModalPhieuDanhGiaClose($event)">
    </app-chi-tiet-phieu-danh-gia-ca-nhan>

    <luongDanhGiaModal #luongDanhGiaModal>
    </luongDanhGiaModal>
</div>