<div class="kt-login__form" [@routerTransition]>
    <div class="kt-login__title">
        <h4 class="m-0">
            {{ "LogIn" | localize }}
        </h4>
    </div>

    <form #loginForm="ngForm" class="kt-form" style="margin-top: 22px" method="post" novalidate (ngSubmit)="login()">
        <div class="form-group">
            <label for="txtUsr">{{ "UserNameOrEmail" | localize }}
                <span class="text-danger">*</span></label>
            <input id="txtUsr" #userNameOrEmailAddressInput="ngModel" [(ngModel)]="
                    loginService.authenticateModel.userNameOrEmailAddress
                " autoFocus class="form-control m-input" type="text" autocomplete="new-password"
                name="userNameOrEmailAddress" required />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched">
            </validation-messages>
        </div>

        <div class="form-group">
            <label for="txtPwd">{{ "Password" | localize }}
                <span class="text-danger">*</span></label>
            <input id="txtPwd" #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password"
                class="form-control m-input" type="password" autocomplete="new-password" name="password" required
                maxlength="32" />
            <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
        </div>

        <div class="form-group mt-4" style="display: flex; flex-direction: row;">
            <div style="flex:1">
                <label class="kt-checkbox kt-checkbox--success">
                    <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe"
                        value="true" />{{ "RememberMe" | localize }}
                    <span></span>
                </label>
            </div>
            <div style="flex: 1" class="text-right">
                <a routerLink="/account/forgot-password" id="forget-password"
                    class="kt-link kt-login__link-forgot">{{ "ForgotPassword" | localize }}</a>
            </div>
        </div>

        <!-- <p *ngIf="useCaptcha" class="mt-2 form-text text-muted">
            {{ "Captha_Hint" | localize }}
        </p>

        <div *ngIf="useCaptcha" class="form-group mt-2 captcha-container">
            <re-captcha
                #recaptchaRef
                (resolved)="captchaResolved($event)"
                [siteKey]="recaptchaSiteKey"
            ></re-captcha>
        </div> -->

        <div class="kt-login__actions">
            <button style="width: 100%;" type="submit" class="btn btn-success btn-elevate kt-login__btn-success"
                [disabled]="!loginForm.form.valid">
                {{ "LogIn" | localize }}
            </button>
        </div>
    </form>
</div>