.kt-login__options {
    a {
        cursor: pointer;
        padding-right: 0.35rem;
        margin: 0 5px 0 0 !important;

        i.fa-openidconnect {
            background: url(/assets/common/images/social/openid.png) no-repeat;
            width: 16px;
            height: 16px;
        }

        i.fa-wsfederation {
            background: url(/assets/common/images/social/adfs.png) no-repeat;
            width: 16px;
            height: 16px;
        }
    }
}

.kt-login__title {
    margin: 16px 0;
}

.kt-login__title h4 {
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.kt-login__form {
    text-align: left;
    padding: 40px;
    margin-top: 0;
}