<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Chức vụ</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống / Chức vụ
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-primary pull-right" (click)="createChucVu()">
                    <i class="fa fa-plus"></i> Thêm mới
                </button>
            </div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="filterText">Loại chức vụ</label>
                            <div class="dx-field-value">
                                <dx-select-box [dataSource]="lstLoaiChucVu" displayExpr="name" valueExpr="id"
                                    [(ngModel)]="loaiChucVu">
                                </dx-select-box>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button" (click)="getChucVu()">
                            Tìm kiếm
                        </button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showRowLines]="true"
                        [showBorders]="true">

                        <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
                        <dxi-column caption="Chức vụ" dataField="ten"></dxi-column>

                        <dxi-column caption="Là lãnh đạo" cellTemplate="cellTemplateIsLanhDao" [width]="150">
                        </dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateIsLanhDao'">
                            <span class="kt-badge kt-badge--brand kt-badge--inline" *ngIf="item.data.laLanhDao == true">
                                Có
                            </span>
                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="item.data.laLanhDao == false">
                                Không
                            </span>
                        </div>

                        <dxi-column caption="Loại chức vụ" cellTemplate="cellTemplateLoaiChucVu" [width]="150">
                        </dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateLoaiChucVu'">
                            <span *ngIf="item.data.loaiChucVu == 1">
                                Chức vụ
                            </span>
                            <span *ngIf="item.data.loaiChucVu == 2">
                                Nhóm chức vụ
                            </span>
                        </div>

                        <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button *ngIf="item.data.loaiChucVu == 1" type="button"
                                class="btn btn-outline-primary btn-sm"
                                (click)="createOrEditChucVuDanhGiaModal.show(item.data)" title="Phân công chấm điểm">
                                <i class="fas fa-cog"></i>
                            </button>
                            <button *ngIf="item.data.loaiChucVu == 2" type="button"
                                class="btn btn-outline-primary btn-sm"
                                (click)="createOrEditThanhVienNhomChucVuModall.show(item.data)"
                                title="Phân công chấm điểm">
                                <i class="fas fa-cog"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-sm"
                                (click)="createOrEditChucVuModal.show(item.data)" title="Sửa thông tin chức vụ">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa"
                                (click)="xoaChucVu(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="
                                        primengTableHelper.defaultRecordsCountPerPage
                                    " #paginator (onPageChange)="getChucVu($event)" [totalRecords]="
                                        primengTableHelper.totalRecordsCount
                                    " [rowsPerPageOptions]="
                                        primengTableHelper.predefinedRecordsCountPerPage
                                    ">
                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số:
                                    {{ primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
    </div>
    <createOrEditChucVuModal #createOrEditChucVuModal (modalSave)="getChucVu()">
    </createOrEditChucVuModal>
    <createOrEditChucVuDanhGiaModal #createOrEditChucVuDanhGiaModal>
    </createOrEditChucVuDanhGiaModal>
    <createOrEditThanhVienNhomChucVuModal #createOrEditThanhVienNhomChucVuModall>
    </createOrEditThanhVienNhomChucVuModal>
</div>