<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    onshow="chucvucombo2.getDataOptions();" aria-labelledby="createOrEditModal" aria-hidden="true"
    [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <form [formGroup]="createOrUpdateChucVuDanhGiaForm" (ngSubmit)="save()" autocomplete="new-password"> -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Phân công đánh giá: {{chucVuDto.ten}} </span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table table-striped m-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 100px !important;">
                                                Thứ tự
                                            </th>
                                            <th class="text-center">
                                                Chức vụ đánh giá
                                            </th>
                                            <th class="text-center" style="width: 150px;">
                                                Chấm / duyệt
                                            </th>
                                            <th class="text-center" style="width: 205px !important;">
                                                Thao tác
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of lstChucVuDanhGia; let i = index">
                                            <td class="text-center">
                                                <input type="text" class="form-control" [(ngModel)]="item.soThuTu"
                                                    disabled />
                                            </td>
                                            <td>
                                                <div class="form-md-line-input form-md-floating-label ">
                                                    <shared-ui-chuc-vu-combo #chucvucombo2
                                                        [(item)]="item.chucVuThucHienDanhGiaId">
                                                    </shared-ui-chuc-vu-combo>
                                                </div>
                                            </td>
                                            <td>
                                                <dx-select-box [dataSource]="lstChamDuyet" displayExpr="text"
                                                    valueExpr="id" [(ngModel)]="item.nguoiCham">
                                                </dx-select-box>
                                            </td>
                                            <td>
                                                <button (click)="upPosition(i)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                                    style="margin-left: 10px">
                                                    <i class="fa fa-arrow-up"></i>
                                                </button>
                                                <button (click)="downPosition(i)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill"
                                                    style="margin-left: 10px">
                                                    <i class="fa fa-arrow-down"></i>
                                                </button>
                                                <button (click)="removeItem(i, item.id)"
                                                    class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                                    style="margin-left: 10px" title="Xóa">
                                                    <i class="fa fa-times"></i>
                                                </button>

                                                <!-- <button type="button" class="btn btn-outline-danger btn-sm"
                                                    style="margin-top: 2px;" (click)="removeItem(i, item.id)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <button type="button" class="btn btn-outline-primary btn-sm"
                                                    (click)="addItem()">
                                                    <i class="fas fa-plus"></i> Thêm
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save();"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span></button>
                <button [disabled]="saving" type="button" class="btn btn-secondary"
                    (click)="close()">{{"Cancel" | localize}}</button>
            </div>

            <!-- </form> -->

        </div>
    </div>
</div>