<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <form [formGroup]="createOrUpdateChucVuDanhGiaForm" (ngSubmit)="save()" autocomplete="new-password"> -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Thành viên nhóm: {{tenChucVu}} </span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-4  pull-left">
                            <div class="form-group">
                                <label for="filterText">Từ khóa</label>
                                <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText">
                            </div>
                        </div>
                        <div class="form-group pull-left col-md-1">
                            <label for="btn"> &nbsp;</label>
                            <button class="btn btn-success" type="button" (click)="loadThanhVienNhom()">
                                <i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="form-group col-md-3 pull-right">
                            <label for="btn"> &nbsp;</label>
                            <button type="submit" class="btn btn-primary pull-right" style="margin-top: 30px;"
                                (click)="timKiemCanBoModal.show(chucVuId)"><i class="fa fa-save"></i>
                                <span>Thêm thành viên</span></button>
                        </div>
                    </div>
                    <div class="col-12">
                        <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                            [wordWrapEnabled]="true" [showRowLines]="true">
                            <dxi-column caption="#" dataField="stt" [width]="80"></dxi-column>
                            <dxi-column caption="Tên cán bộ" [allowFiltering]="false" [allowSorting]="false"
                                cellTemplate="cellTemplateTenCanBo">
                            </dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateTenCanBo'">
                                {{item.data.ho}} {{item.data.ten}}
                            </div>

                            <dxi-column caption="Tên đơn vị" dataField="tenDonVi"></dxi-column>
                            <dxi-column caption="Tên chức vụ" dataField="tenChucVu"></dxi-column>
                            <dxi-column caption="Loại chức vụ" [allowFiltering]="false" [allowSorting]="false"
                                cellTemplate="cellTemplateLoaiChucVu">
                            </dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateLoaiChucVu'">
                                <span class="kt-badge kt-badge--info kt-badge--inline"
                                    *ngIf="item.data.chucVuChinh == 1">
                                    Chức vụ chính
                                </span>
                                <span class="kt-badge kt-badge--warning kt-badge--inline"
                                    *ngIf="item.data.chucVuChinh == 2">
                                    Chức vụ kiêm nhiệm
                                </span>
                            </div>

                            <dxi-column caption="Thao tác" [allowFiltering]="false" [width]="80" [allowSorting]="false"
                                cellTemplate="cellTemplateThaoTac">
                            </dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateThaoTac'">
                                <button type="button" class="btn btn-outline-danger btn-sm" style="margin-top: 2px;"
                                    (click)="removeItem(item.data.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>

                        </dx-data-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
            </div>

            <!-- </form> -->

        </div>
    </div>
</div>

<timKiemCanBoModal #timKiemCanBoModal (modalSave)="loadThanhVienNhom()"></timKiemCanBoModal>