<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <form [formGroup]="mainForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="chucVuDto.id">Cập nhật chức vụ</span>
                        <span *ngIf="!chucVuDto.id">Tạo mới chức vụ</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Chức vụ <span class="red"> * </span></label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <input formControlName="ten" class="form-control" type="text"
                                    [(ngModel)]="chucVuDto.ten">
                                <div *ngIf="submitted && f['ten'].errors" class="kt-font-danger">
                                    <div *ngIf="f['ten'].errors.required">Tên chức vụ không được để trống</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Tên hiển thị trên phiếu đánh giá</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <input formControlName="tenHienThiTrenBieuMau" class="form-control" type="text"
                                    [(ngModel)]="chucVuDto.tenHienThiTrenBieuMau">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Là quản lý</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-md-line-input form-md-floating-label ">
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" checked="checked" [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="chucVuDto.laLanhDao">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="chucVuDto.laLanhDao">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <label class="kt-radio col-md-6">
                                <input formControlName="capLanhDao" class="form-control" type="radio" [value]="1"
                                    [(ngModel)]="chucVuDto.capLanhDao" />Cấp trưởng
                                <span></span>
                            </label>
                            <label class="kt-radio col-md-6">
                                <input formControlName="capLanhDao" class="form-control" type="radio" [value]="2"
                                    [(ngModel)]="chucVuDto.capLanhDao" />Cấp phó
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Là nhóm đánh giá</label>
                        </div>
                        <div class="col-md-8">
                            <div class="form-md-line-input form-md-floating-label ">
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" checked="checked"
                                            (change)="changeLoaiHinhChucVu(loaiHinhChucVu)"
                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="loaiHinhChucVu">
                                        <span></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="loaiHinhChucVu == false">
                        <div class="col-md-4">
                            <label>Phiếu đánh giá</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <shared-ui-phieu-danh-gia-combo [(item)]="phieuDanhGiaChucVuDto.phieuDanhGiaId">
                            </shared-ui-phieu-danh-gia-combo>
                            <input type="hidden" [(ngModel)]="phieuDanhGiaChucVuDto.phieuDanhGiaId"
                                formControlName="phieuDanhGiaId">
                            <div *ngIf="submitted && f['phieuDanhGiaId'].errors" class="kt-font-danger">
                                <div *ngIf="f['phieuDanhGiaId'].errors.min || f['phieuDanhGiaId'].errors.required">
                                    Chọn phiếu đánh giá
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Khối hành chính</label>
                                <shared-ui-khoi-don-vi-combo [(item)]="chucVuDto.khoi">
                                </shared-ui-khoi-don-vi-combo>
                                <input type="hidden" [(ngModel)]="chucVuDto.khoi" formControlName="khoi">
                                <div *ngIf="submitted && f['khoi'].errors" class="kt-font-danger">
                                    <div *ngIf="f['khoi'].errors.min">Chọn khối hành chính
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save();"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                </div>

            </form>

        </div>
    </div>
</div>