<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Danh sách cán bộ</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Đơn vị</label>
                            <shared-ui-don-vi-combo [(item)]="donViId">
                            </shared-ui-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText">
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-success" type="button" (click)="getDanhSachCanBo()">
                            <i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [wordWrapEnabled]="true" [showRowLines]="true">

                        <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplateCheckBox"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateCheckBox'">
                            <div class="kt-checkbox-single text-center">
                                <label class="kt-checkbox">
                                    <input type="checkbox" [(ngModel)]="item.data.isChecked"
                                        (ngModelChange)="chonCanBoThanhvien($event,item.data)" />
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <dxi-column caption="#" dataField="stt" [width]="50"></dxi-column>
                        <dxi-column caption="Tên cán bộ" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplateTenCanBo">
                        </dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateTenCanBo'">
                            {{item.data.ho}} {{item.data.ten}}
                        </div>

                        <dxi-column caption="Tên đơn vị" dataField="tenDonVi"></dxi-column>
                        <dxi-column caption="Tên chức vụ" dataField="tenChucVu"></dxi-column>
                        <dxi-column caption="Loại chức vụ" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplateLoaiChucVu">
                        </dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateLoaiChucVu'">
                            <span class="kt-badge kt-badge--brand kt-badge--inline" *ngIf="item.data.chucVuChinh == 1">
                                Chức vụ chính
                            </span>
                            <span class="kt-badge kt-badge--warning kt-badge--inline"
                                *ngIf="item.data.chucVuChinh == 2">
                                Chức vụ kiêm nhiệm
                            </span>
                        </div>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getDanhSachCanBo($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số: {{primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span></button>
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
            </div>

        </div>
    </div>
</div>