.input-group span.input-group-btn button {
    border-bottom-right-radius: 3.5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3.5px;
    border-top-left-radius: 0px;
}

.input-group span.input-group-btn button i {
    font-size: 1rem;
    color: white;
    padding-right: 0px;
}

html[dir="rtl"] .input-group span.input-group-btn button {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 3.5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 3.5px;
}

.small-profile-pic {
    height: 30px;
}

.easy-pie-chart {
    text-align: center;
}

.easy-pie-chart .number {
    font-size: 14px !important;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 75px;
    height: 75px;
    line-height: 75px;
}

.easy-pie-chart .number canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.easy-pie-chart .title {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.easy-pie-chart .title:hover {
    text-decoration: none;
}

.easy-pie-chart .title > i {
    margin-top: 5px;
}

.modal .modal-content .modal-header .close:before {
    cursor: pointer !important;
}

.kt-badge.kt-badge--inline {
    border-radius: 2px;
}

.kt-header__topbar-user {
    display: flex;
}

.mobile-subscription-warning {
    background-color: #fff;
}

.kt-quick-panel {
    overflow-y: hidden !important;
}

.kt-grid.kt-grid--hor.kt-grid--root {
    height: 100vh;
}

.form-control:disabled {
    background-color: #f4f4f4 !important;
}

.unread-notification {
    color: #e74c3c !important;
}

body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.stt {
    width: 50px !important;
}

.kt-font-gold {
    color: #f3c200 !important;
}

.kt-font-silver {
    color: #bfbfbf !important;
}

.kt-font-bronze {
    color: #e87e04 !important;
}

.kt-user-card__name p{
    margin: 0;
    font-size: 15px;
}

.red{
    color: red;
}

.e-input-group, .e-input-group .e-control-wrapper{
height: 40px !important; 
}

.e-input-group-icon.e-date-icon, .e-control-wrapper .e-input-group-icon.e-date-icon{
        min-width: 45px !important; 
}

.wrappedColumnClass {
  white-space: normal;
  word-wrap: break-word;
}

.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button), .dx-field-value-static {
    width: 100% !important; 
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
        height: 39px !important; }

.stiJsViewerPageShadow {
    overflow-x: scroll !important;
    display: block !important;
}
.select2-container {
    width: 100% !important;
}
.dx-treelist-content .dx-treelist-table .dx-row > td, .dx-treelist-content .dx-treelist-table .dx-row > tr > td{
    white-space: pre-line;
}
/* .dx-treelist-text-content {     
    text-align: center!important;
    color: #3a3737!important;
} */
.dx-header-row > td > .dx-treelist-text-content {
    font-weight: bold !important;
    font-size: 15px !important;
    color: #484343 !important;
}

.color-h3, .color-h6{
    color: #434761 !important;
}

.font-weight-none{
    font-weight: normal !important;
}
.margin-bottom-5{
    margin-bottom: 5px !important;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.sum-group{
    font-weight: 700;
    color: #0359ec;
}
.style-texarea-table{
    border: 0;
                            border-bottom: 1px solid #ccc;
}

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-rowsview.dx-last-row-border tbody:last-child > .dx-data-row:nth-last-child(2) > td {
    vertical-align: middle;
}

.table-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

/* input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 3px red;
} */
