<div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"> Thông tin chức vụ <small> </small></h3>
        <br /><i> (Khi thêm mới chức vụ vui lòng ấn "Lưu thông tin" trước khi cấu hình luồng đánh giá) </i>
    </div>
</div>
<div class="kt-portlet__body">
    <div class="kt-section--first">
        <div class="kt-section__body">
            <div class="col-12">
                <div class="m-section">
                    <div class="m-section__content">
                        <table class="table table-striped m-table">
                            <thead>
                                <tr>
                                    <th style="width: 100px !important;">
                                        Thứ tự
                                    </th>
                                    <th>
                                        Chức vụ đánh giá
                                    </th>
                                    <th style="width: 200px !important;">
                                        Chức vụ chính
                                    </th>
                                    <th style="width: 150px !important;">
                                        Trạng thái
                                    </th>
                                    <th style="width: 150px !important;">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of lstChucVu; let i = index">
                                    <td class="text-center">
                                        <input type="text" class="form-control" value="{{i+1}}" disabled />
                                    </td>
                                    <td>
                                        <div class="form-md-line-input form-md-floating-label">
                                            <shared-ui-chuc-vu-combo [(item)]="item.chucVuId">
                                            </shared-ui-chuc-vu-combo>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <dx-select-box [dataSource]="lstLoaiChucVu" displayExpr="text" valueExpr="id"
                                            [(ngModel)]="item.chucVuChinh">
                                        </dx-select-box>
                                    </td>
                                    <td>
                                        <span class="kt-badge kt-badge--warning kt-badge--inline"
                                            *ngIf="!item.isCauHinh">Chờ đánh giá
                                        </span>
                                        <span class="kt-badge kt-badge--success kt-badge--inline"
                                            *ngIf="item.isCauHinh">Đã
                                            đánh giá</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="item.id > 0"
                                            title="Cấu hình luồng đánh giá" style="margin-top: 2px;"
                                            (click)="openConfigChucVuDanhGia(item.chucVuId)">
                                            <i class="fas fa fa-cog"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                            *ngIf="isGranted('Pages.Admin.CanBo.Edit.XoaCauHinhLuongDanhGia')"
                                            style="margin-top: 2px;" (click)="removeItem(i, item.id, item.chucVuId)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="addItem()">
                                            <i class="fas fa-plus"></i> Thêm
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__foot">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-lg-3 col-xl-3">
            </div>
            <div class="col-lg-9 col-xl-9">
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span></button>
                <!-- <button [disabled]="saving" type="button" class="btn btn-secondary"
                    (click)="close()">{{"Cancel" | localize}}</button> -->

                <!-- <button type="reset" class="btn btn-success">Submit</button>&nbsp;
                                        <button type="reset" class="btn btn-secondary">Cancel</button> -->
            </div>
        </div>
    </div>
</div>

<app-can-bo-chuc-vu-danh-gia #canBoChucVuDanhGiaView (modalSave)="loadCanBoChucVu()">
</app-can-bo-chuc-vu-danh-gia>