﻿<div style="width:100%!important;font-size:13px;color:#949494;margin:0;padding:0" bgcolor="#FFF">
	<span style="display:none!important;opacity:0;color:transparent;height:0;width:0;line-height:0;overflow:hidden">		
	</span>

	<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="border-left-width:1px;
border-left-color:#e4e4e4;border-left-style:solid;border-right-width:1px;border-right-color:#e4e4e4;border-right-style:solid">
		<tbody>
			<tr bgcolor="#6836B3">
				<td align="center" style="padding-left:10px;padding-right:10px;border-collapse:collapse;font-size:14px;color:#7a7a7a">
					<table width="594">
						<tbody>
							<tr>
								<td align="left" style="border-collapse:collapse;font-size:14px;color:#7a7a7a">
									<a href="#" style="display:block;border:none" target="_blank">
										<img width="100" alt="e-KPI Hệ thống đánh giá, xếp loại cán bộ, công nhân viên chức"
											 src="https://ubndthanhtri.e-kpi.vn/assets/common/images/logo.png" style="line-height:100%;outline:none;text-decoration:none;border:none" class="CToWUd" />
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>


			<tr bgcolor="#ffffff">
				<td align="center" style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding:30px 10px 50px">
					<table width="594" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding-bottom:30px">
									<table width="100%">
										<tbody>
											<tr>
												<td align="left" valign="top" style="padding-bottom:15px;border-collapse:collapse;font-size:14px;color:#7a7a7a">
													<h1 style="font-weight:700;font-size:28px;font-style:normal;color:#666666;margin:0">
														Xin chào, <%FullName%>
													</h1>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding-bottom:30px">
									<table width="100%" cellpadding="0" cellspacing="0" style="border-radius:7px;border:1px solid #e4e4e4">
										<tbody>
											<tr align="left">
												<td style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding:10px 16px">
													<table width="100%">
														<tbody>
															<tr>
																<td align="left" valign="top" style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding-right:15px;width:80px">
																	<img width="80" height="80" alt=""
																		 src="https://ubndthanhtri.e-kpi.vn/assets/common/images/list.png" style="line-height:100%;outline:none;text-decoration:none" class="CToWUd" />
																</td>
																<td align="left" valign="top" style="padding-right:10px;border-collapse:collapse;font-size:14px;color:#7a7a7a">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td align="left" valign="top" style="border-collapse:collapse;font-size:14px;color:#7a7a7a;line-height:18px">
																					<%NoiDung%>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td width="170" align="right" valign="top" style="border-collapse:collapse;font-size:14px;color:#7a7a7a">

																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tbody>
																			<tr>
																				<td align="left" valign="top" style="border-collapse:collapse;font-size:14px;color:#7a7a7a">
																					<a class="m_2707738305543825924primary-cta__button" href="<%LinkChiTiet%>"
																					   style="background-color:#0084b4;border-radius:5px;color:#ffffff;display:block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;width:96%">
																						Xem phiếu
																					</a>

																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>

										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="border-collapse:collapse;font-size:14px;color:#949494;line-height:20px">
									<br /><br />
									Trân trọng, <br /> e-KPI Hệ thống đánh giá, xếp loại cán bộ, công nhân viên chức
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>



			<tr width="100%" bgcolor="#f0f0f0" align="center">
				<td align="center" style="border-collapse:collapse;font-size:14px;color:#7a7a7a;padding:20px 10px">
					<table width="594" border="0" align="center" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td align="center" valign="top" style="border-collapse:collapse;font-size:14px;color:#7a7a7a">
									<!--<a href="#" style="display:block;border:none" target="_blank">
									<img width="100"  src="https://ubndthanhtri.e-kpi.vn/assets/common/images/logo.png"
										 style="line-height:100%; outline:none;text-decoration:none;border:none" class="CToWUd"></a>-->
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" style="border-collapse:collapse;font-size:12px;color:#999;padding-top:10px">
									Đây là email tự động vui lòng không trả lời email này và không chia sẻ email này cho người khác
								</td>
							</tr>
							<tr>
								<td align="center" valign="top" style="border-collapse:collapse;font-size:14px;color:#999;padding-top:10px">
									© Copyright 2020 Orenda
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>