<div class="kt-portlet__head">
  <div class="kt-portlet__head-label">
    <h3 class="kt-portlet__head-title"> Thông tin đơn vị chuyên trách <small> </small></h3>
  </div>
  <div class="kt-portlet__head-wrapper">
    <button style="margin-top: 15px;" type="button" class="btn btn-outline-primary btn-sm"
      *ngIf="isGranted('Pages.Admin.CanBo.Edit')" (click)="openTimKiemDonViChuyenTrach()">
      <i class="fas fa-plus"></i> Thêm
    </button>
  </div>
</div>
<div class="kt-portlet__body">
  <div class="kt-section--first">
    <div class="kt-section__body">
      <div class="row">
        <div class="col-md-4">
          <label for="filterText">Chức vụ</label>
          <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId" #canbochucvu>
          </shared-ui-can-bo-chuc-vu-combo>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="filterText">Từ khóa</label>
            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText">
          </div>
        </div>
        <div class="form-group col-md-2">
          <label for="btn"> &nbsp;</label>
          <button class="btn btn-primary margin-top-25" type="button" (click)="loadDonViChuyenTrach()">Tìm
            kiếm</button>
        </div>
      </div>
      <div class="row align-items-center">
        <!-- <ejs-grid [dataSource]='primengTableHelper.records' allowTextWrap='true' gridLines="Both">
          <e-columns>
            <e-column field='stt' headerText='#' textAlign='Center' width=90></e-column>
            <e-column field='tenDonVi' headerText='Tên đơn vị'></e-column>
            <e-column headerText='Thao tác' width='180' textAlign='Center'>
              <ng-template #template let-data>
                <div class="m-demo__preview m-demo__preview--btn">
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="xoaDonViChuyenTrach(data)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid> -->

        <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
          [showRowLines]="true">

          <dxi-column caption="#" dataField="stt" [width]="90"></dxi-column>
          <dxi-column caption="Tên đơn vị" dataField="tenDonVi"></dxi-column>
          <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false" [allowSorting]="false"
            cellTemplate="cellTemplate"></dxi-column>
          <div *dxTemplate="let item of 'cellTemplate'">
            <div class="m-demo__preview m-demo__preview--btn">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="xoaDonViChuyenTrach(item.data)"
                *ngIf="isGranted('Pages.Admin.CanBo.Edit')">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </dx-data-grid>


      </div>
      <!--<Primeng-TurboTable-Start>-->
      <div class="margin-top-15 row align-items-center">
        <div class="col-12">
          <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
            <div class="primeng-paging-container">
              <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                (onPageChange)="loadDonViChuyenTrach($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

              </p-paginator>
              <span class="total-records-count">
                Tổng số: {{primengTableHelper.totalRecordsCount}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!--<Primeng-TurboTable-End>-->
    </div>
  </div>
</div>
<div class="kt-portlet__foot">

  <timKiemDonViModal #timKiemDonViModal (modalSave)="updateDonViChuyenTrach($event)">
  </timKiemDonViModal>

</div>