<div class="kt-portlet kt-portlet--head--noborder kt-portlet--height-fluid">
    <div class="kt-portlet__head kt-portlet__head--noborder">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Tỷ lệ hoàn thành phiếu của đơn vị
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <shared-month-selection [(modelDate)]="modelDateTyLePhanLoaiDanhGia"
                (modelDateChange)="onThangChange($event)" #dateTyLePhanLoaiDanhGia>
            </shared-month-selection>
        </div>
    </div>
    <div class="kt-portlet__body" [busyIf]="loading">
        <div style="height: 300px;" id="tyLeHoanThanhPhieu"></div>
    </div>
</div>