<div class="kt-section__body">
    <div class="col-12">
        <div id="table-scroll" class="table-scroll">
            <div class="table-wrap">
                <table class="main-table table m-table table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th rowspan="3" class="fixed-side" scope="col">TT</th>
                            <th rowspan="3" class="fixed-side1" scope="col">Đơn vị</th>
                            <th rowspan="2" colspan="4" scope="col">
                                Tổng số CB,CC và LĐHĐ
                            </th>
                            <th [attr.colspan]="item.lstChucVu.length * 4" class="text-center"
                                *ngFor="let item of lstNhomChucVuQuanLy"> {{item.tenNhom}}
                            </th>
                            <th rowspan="2" [attr.colspan]="4" class="text-center"
                                *ngFor="let item of lstChucVuNhanVien">
                                {{item.tenNhom}}
                            </th>

                            <th rowspan="3" class="text-center">Ghi chú</th>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let itemCvQL of lstNhomChucVuQuanLy">
                                <ng-container>
                                    <td [attr.colspan]="4" *ngFor="let item of itemCvQL.lstChucVu" class="text-center">
                                        {{item.tenChucVu}}
                                    </td>
                                </ng-container>
                            </ng-container>
                        </tr>
                        <tr>
                            <td>
                                Tổng số
                            </td>
                            <td>
                                Số được đánh giá
                            </td>
                            <td>
                                Số không đánh giá
                            </td>
                            <td>
                                Lý do không đánh giá
                            </td>

                            <ng-container *ngFor="let itemCvQL of lstNhomChucVuQuanLy">
                                <ng-container *ngFor="let item of itemCvQL.lstChucVu">
                                    <td *ngFor="let td of tongHopKetQuaTH04.thangDiemChiTiet"
                                        class="text-right td-width">
                                        {{td.tenThangDiem}}
                                    </td>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngFor="let td of lstChucVuNhanVien">
                                <td *ngFor="let td of tongHopKetQuaTH04.thangDiemChiTiet" class="text-right td-width">
                                    {{td.tenThangDiem}}
                                </td>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let item of tongHopKetQuaTH04.lstKetQuaDonVi; let i = index;">
                            <td class="fixed-side"> {{i+1}} </td>
                            <td class="fixed-side1"> {{item.tenDonVi}} </td>
                            <td class="text-center"> {{item.tongSo}} </td>
                            <td class="text-center"> {{item.soDuocDanhGia}} </td>
                            <td class="text-center"> {{item.soKhongDanhGia}} </td>
                            <td> {{item.lyDoKhongDanhGia}} </td>

                            <ng-container *ngFor="let itemCvQL of item.lstNhomChucVu">
                                <ng-container *ngFor="let cv of itemCvQL.lstChucVu">
                                    <ng-container *ngFor="let itemTd of cv.lstThangDiem">
                                        <td *ngIf="!itemCvQL.isNhomChucVu" class="text-center">
                                            {{itemTd.soLuong}}
                                        </td>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngFor="let itemTd of itemCvQL.lstThangDiem">
                                    <td *ngIf="itemCvQL.isNhomChucVu" class="text-center">
                                        {{itemTd.soLuong}}
                                    </td>
                                </ng-container>
                            </ng-container>
                            <td></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>