<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Thang điểm</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống /Quản lý thang
                điểm đánh giá
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-primary" (click)="upsertModal.show(null, false)">
                    <i class="fa fa-plus"></i> Thêm mới
                </button>
            </div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Hiệu lực từ ngày</label>
                            <div class="input-group date">
                                <shared-ui-date-moment [(item)]="hieuLucTuNgay">
                                </shared-ui-date-moment>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Hiệu lực tới ngày</label>
                            <div class="input-group date">
                                <shared-ui-date-moment [(item)]="hieuLucToiNgay">
                                </shared-ui-date-moment>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input"
                            placeholder="Tìm kiếm ..." type="text" />
                    </div>
                    <div class="col-2">
                        <button type="button" (click)="searchItems()" class="btn btn-primary m-btn m-btn--custom">
                            <i class="fas fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [showRowLines]="true">

                        <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
                        <dxi-column caption="Tên" dataField="ten"></dxi-column>
                        <dxi-column caption="Số mức" dataField="" [width]="100" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplateSoMuc"></dxi-column>
                        <dxi-column caption="Hiệu lực từ ngày" dataField="hieuLucTuNgay" dataType="date"
                            [format]="{ type: 'dd/MM/yyyy' }" [width]="150"></dxi-column>
                        <dxi-column caption="Hiệu lực đến ngày" dataField="hieuLucToiNgay" dataType="date"
                            [format]="{ type: 'dd/MM/yyyy' }" [width]="150"></dxi-column>


                        <div *dxTemplate="let item of 'cellTemplateSoMuc'" style="text-align: right;font-weight: bold;">
                            <a class="btn btn-label-brand btn-bold" href="javascript:;" style="    padding: 5px 12px;"
                                (click)="detailItem(item.data); thangDiemChiTiet.toggle($event)">
                                {{ item.data.soLuongThangDiemChiTiet }}
                            </a>
                        </div>
                        <dxi-column caption="Thao tác" dataField="" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button type="button" class="btn btn-outline-primary  btn-sm"
                                (click)="copyThangDiem(item.data)" title="Sao chép thang điểm">
                                <i class="fas fa-clone"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning  btn-sm"
                                (click)="upsertModal.show(item.data, true)" title="Sửa phiếu">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa"
                                (click)="xoaThangDiem(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-data-grid>


                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="
                                        primengTableHelper.defaultRecordsCountPerPage
                                    " #paginator (onPageChange)="searchItems($event)" [totalRecords]="
                                        primengTableHelper.totalRecordsCount
                                    " [rowsPerPageOptions]="
                                        primengTableHelper.predefinedRecordsCountPerPage
                                    ">
                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số:
                                    {{ primengTableHelper.totalRecordsCount }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
    </div>
    <p-overlayPanel #thangDiemChiTiet>
        <div class="row" style="width: 522px">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">
                                #
                            </th>
                            <th class="font-weight-bold">
                                Tên
                            </th>
                            <th class="font-weight-bold">
                                Điểm
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of chiTietThangdiem; index as i">
                            <td scope="row">
                                {{ i + 1 }}
                            </td>
                            <td>
                                {{ item.ten }}
                            </td>
                            <td class="text-right">
                                {{ item.diemSan }} - {{ item.diemTran }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </p-overlayPanel>
    <app-thang-diem-upsert-modal #upsertModal (modalSave)="searchItems()"></app-thang-diem-upsert-modal>
</div>