<div [@routerTransition]>
    <div id="dsLichSuDanhGia" [hidden]="!isViewDsLichSu">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>Đánh giá nhân viên</span>
                </h3>
                <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                <span class="kt-subheader__desc">
                    <i class="flaticon-home"></i> / Phiếu đánh giá / Đánh giá nhân viên
                </span>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper"></div>
            </div>
        </div>

        <div class="kt-content">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="filterText">Tháng</label>
                                <shared-month-selection [(modelDate)]="filterMonth" (valueChange)="
                                        onChangeMonthSelection($event)
                                    ">
                                </shared-month-selection>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="filterText">Trạng thái</label>
                                <dx-select-box [dataSource]="lstTrangThaiPhieu" displayExpr="text" valueExpr="id"
                                    [searchExpr]="searchExprOption" [minSearchLength]="minSearchLengthOption"
                                    [(ngModel)]="trangThaiPhieu"></dx-select-box>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="filterText">Chức vụ</label>
                                <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId">
                                </shared-ui-can-bo-chuc-vu-combo>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="btn"> &nbsp;</label>
                            <button class="btn btn-primary margin-top-25" type="button" (click)="getCanBo()">
                                Tìm kiếm
                            </button>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                            [showRowLines]="true" [wordWrapEnabled]="true">

                            <dxi-column dataField="stt" caption="#" textAlign="Center" width="90"></dxi-column>
                            <dxi-column dataField="tenNhanVien" caption="Tên nhân viên"></dxi-column>
                            <dxi-column dataField="tenChucVu" caption="Chức vụ"></dxi-column>
                            <dxi-column dataField="donViCongTac" caption="Địa chỉ công tác"></dxi-column>
                            <dxi-column dataField="tongDiemCaNhan" caption="Tổng điểm	cá nhân"></dxi-column>
                            <dxi-column dataField="xepLoaiCaNhan" caption="Xếp loại cá nhân"></dxi-column>

                            <dxi-column caption="Xếp loại cuối cùng" [width]="150" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplateXepLoai"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateXepLoai'">

                                <span *ngIf="item.data.trangThai != 1">
                                    Chưa có
                                </span>
                                <span *ngIf="item.data.trangThai == 1">
                                    {{ item.data.xepLoaiCuoiCung }}
                                </span>

                            </div>

                            <dxi-column caption="Trạng thái" [width]="120" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplateTrangThai"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplateTrangThai'">
                                <span class="kt-badge kt-badge--warning kt-badge--inline"
                                    *ngIf="item.data.trangThai == 2  && !item.data.hetHanDanhGia">Chờ đánh giá
                                </span>
                                <span class="kt-badge kt-badge--success kt-badge--inline"
                                    *ngIf="item.data.trangThai == 3">Đã
                                    đánh giá</span>

                                <span class="kt-badge kt-badge--success kt-badge--inline"
                                    *ngIf="item.data.trangThai == 1"> Hoàn thành </span>

                                <div *ngIf="item.data.trangThai == 2 && item.data.hetHanDanhGia">
                                    <span class="kt-badge kt-badge--dark kt-badge--inline">
                                        Hết hạn đánh giá
                                    </span>
                                </div>
                            </div>
                            <dxi-column caption="Thao tác" dataField="" [width]="180" [allowFiltering]="false"
                                [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                            <div *dxTemplate="let item of 'cellTemplate'">
                                <div class="m-demo__preview m-demo__preview--btn">
                                    <button type="button" class="btn btn-outline-warning  btn-sm"
                                        title="Chấm điểm phiếu đánh giá"
                                        *ngIf="!item.data.hetHanDanhGia && item.data.isNguoiCham && item.data.isSuaKetQua"
                                        (click)="showPhieuDanhGia(item.data); isViewDanhGia = true;">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>


                                    <button type="button" class="btn btn-outline-warning btn-sm"
                                        title="Duyệt phiếu đánh giá"
                                        *ngIf="!item.data.hetHanDanhGia && !item.data.isNguoiCham && item.data.isSuaKetQua"
                                        (click)="showDuyetPhieuDanhGia(item.data); isViewDuyetPhieu = true;">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>


                                    <button type="button" class="btn btn-outline-warning btn-icon"
                                        title="Xem chi tiết phiếu đánh giá"
                                        *ngIf="(item.data.hetHanDanhGia || !item.data.isSuaKetQua) && (item.data.trangThai == 1 || item.data.trangThai == 3)"
                                        (click)="showChiTietPhieuDanhGia(item.data); isViewChiTiet = true;">
                                        <i class="fa fa-file"></i>
                                    </button>

                                    <button type="button" class="btn btn-primary   btn-sm"
                                        *ngIf="item.data.trangThai != -1" title="Xuất file word"
                                        (click)="xuatWord(item.data)">
                                        <i class="fa fa-file-word"></i>
                                    </button>
                                    <button type="button" class="btn btn-success  btn-sm"
                                        *ngIf="item.data.trangThai != -1" title="Xuất file PDF "
                                        (click)="xuatPDF(item.data)">
                                        <i class="fa fa-file-pdf"></i>
                                    </button>
                                </div>
                            </div>
                        </dx-data-grid>
                    </div>
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="margin-top-15 row align-items-center">
                        <div class="col-12">
                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="
                                            primengTableHelper.defaultRecordsCountPerPage
                                        " #paginator (onPageChange)="getCanBo($event)" [totalRecords]="
                                            primengTableHelper.totalRecordsCount
                                        " [rowsPerPageOptions]="
                                            primengTableHelper.predefinedRecordsCountPerPage
                                        ">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        Tổng số:
                                        {{
                                            primengTableHelper.totalRecordsCount
                                        }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <!-- <app-cham-diem-phieu-danh-gia-ca-nhan #chamDiemPhieuDanhGiaNhanVienView
        (modalSave)="isViewDsLichSu = true; getCanBo()">
    </app-cham-diem-phieu-danh-gia-ca-nhan> -->
    <app-cham-diem-phieu-danh-gia-ca-nhan #chamDiemPhieuDanhGiaNhanVienView
        *ngIf="isViewDsLichSu===false && isViewDanhGia === true" [chucVuDanhGiaId]="selectChucVuId"
        [phieuDanhGiaCanBoInput]="dataItemSlected" (modalSave)="onModalPhieuDanhGiaClose($event)">
    </app-cham-diem-phieu-danh-gia-ca-nhan>

    <app-duyet-phieu-danh-gia-ca-nhan #duyetPhieuDanhGiaNhanVienView
        *ngIf="isViewDsLichSu===false && isViewDuyetPhieu === true" [phieuDanhGiaCanBoInput]="dataItemSlected"
        [chucVuDanhGiaId]="selectChucVuId" (modalSave)="onModalPhieuDanhGiaClose($event)">
    </app-duyet-phieu-danh-gia-ca-nhan>

    <app-chi-tiet-phieu-danh-gia-ca-nhan #chiTietPhieuComponentView
        *ngIf="isViewDsLichSu===false && isViewChiTiet === true" [chucVuDanhGiaId]="selectChucVuId"
        [phieuDanhGiaCanBoInput]="dataItemSlected" (modalSave)="onModalPhieuDanhGiaClose(false)">
    </app-chi-tiet-phieu-danh-gia-ca-nhan>

</div>