/* ============================================================
      [Master Stylesheet]

 Theme Name: Xipper - App Landing HTML Template
 Theme URI: https://themeforest.net/user/pixelcurve/portfolio
 Description: Xipper - App Landing HTML Template
 Author: pixelcurve
 Author URI: 
 Version: 1.1
 
 main Font    : Open Sans 

============================================================== */


/*
  ========================================
  Google Fonts
  ========================================
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;display=swap');

/*
  ========================================
  Aos, Slick, 
  ========================================
*/

@import "css_plugins/aos.css";
@import "css_plugins/magnific-popup.css";
@import "css_plugins/owl.carousel.min.css";
@import "css_plugins/owl.theme.default.min.css";

/*
  ========================================
  Reset, Typography, Custom Animation 
  ========================================
*/

@import "css_plugins/reset.css";
@import "css_plugins/typography.css";
@import "css_plugins/custom-animation.css";

/*
  ========================================
        Css Style
        
  [1] Menu
  [2] Home 1
  [3] Home 2
  [4] Home 3
  [5] Home 4
  [6] blog
  [7] contact
  [8] footer 
  ========================================
*/

@import "css_section/menu.css";
@import "css_section/home_1.css";
@import "css_section/home_2.css";
@import "css_section/home_3.css";
@import "css_section/home_4.css";
@import "css_section/blog.css";
@import "css_section/contact.css";
@import "css_section/footer.css";


/*custom css*/
.home2-top-nav.topnav {
    background: #0161cd;
}

.how-works-item.top-bor:last-child::before{
  display: none;
}

.how-works-item {
    text-align: center;
    padding: 20px;
}
.how-works-item img{
      padding: 37px 0px 32px;
      width: 100%;
}

.how-works-item h4{
  line-height: 1.4;
}


.overview-bottom-title p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    padding: 10px;
}

.overview-title p {
  padding: 10px;
}

.home2-hero{
  background-color: #0161CD;
}

.animated-1 {
    background-color: #1a53c0;
    width: 320px;
    height: 70px;
    position: absolute;
    top: 25%;
    left: -95px;
    -webkit-transform: rotate(-20deg) translateY(25%);
    -ms-transform: rotate(-20deg) translateY(25%);
    transform: rotate(-20deg) translateY(25%);
}

.animated-3 {
    background-color: #1a53c0;
    width: 190px;
    height: 70px;
    position: absolute;
    top: 30%;
    right: -11px;
    -webkit-transform: rotate(-20deg) translateY(25%);
    -ms-transform: rotate(-20deg) translateY(25%);
    transform: rotate(-20deg) translateY(25%);
    -webkit-clip-path: polygon(0 1%, 100% 0%, 87% 100%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0%, 87% 100%, 0% 100%);
}

.animated-2 {
    background-color: #1a53c0;
    width: 320px;
    height: 70px;
    position: absolute;
    top: 51%;
    left: 305px;
    -webkit-transform: rotate(-20deg) translateY(25%);
    -ms-transform: rotate(-20deg) translateY(25%);
    transform: rotate(-20deg) translateY(25%);
}

.btn-1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #0161cd;
    background: linear-gradient(146deg, #1a53c0, #0161cd);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.home2-footer-area .footer-app {
    background: #0161cd;
}

.home2-top-nav .top-btn a {
    background: #f9693f;
    border: 2px solid #f9693f !important;
}

.top-btn a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(146deg, #123d91, #3180d9);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#cssmenu>ul>li>a {
    text-transform: initial;
    margin: 0px 17px;
    padding: 30px 0px;
    font-size: 18px;
    text-decoration: none;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.return-to-top {
    position: fixed;
    bottom: -30px;
    right: 20px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    z-index: 998;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: bottom .5s ease,opacity .5s ease;
    -o-transition: bottom .5s ease,opacity .5s ease;
    transition: bottom .5s ease,opacity .5s ease;
}

.return-to-top.back-top {
    bottom: 20px;
    opacity: 1;
}

.return-to-top:before {
    background: transparent;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition: opacity .6s ease,-webkit-transform .5s ease;
    transition: opacity .6s ease,-webkit-transform .5s ease;
    -o-transition: transform .5s ease,opacity .6s ease;
    transition: transform .5s ease,opacity .6s ease;
    transition: transform .5s ease,opacity .6s ease,-webkit-transform .5s ease;
}
.return-to-top:after, .return-to-top:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-radius: inherit;
}

.return-to-top:after, .return-to-top:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border-radius: inherit;
}

.return-to-top:after {
    background: rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.return-to-top:hover:after {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    background: #00b0f7;
    -webkit-box-shadow: 0 10px 20px 8px rgba(0,0,0,.15);
    box-shadow: 0 10px 20px 8px rgba(0,0,0,.15);
}

.return-to-top > i {
    position: relative;
    overflow: hidden;
    font-size: 12px;
    width: inherit;
    height: inherit;
    line-height: inherit;
    display: block;
    color: transparent;
    text-shadow: 0 0 #fff, 0 50px #fff;
    -webkit-transition: text-shadow .2s ease;
    -o-transition: text-shadow .2s ease;
    transition: text-shadow .2s ease;
    z-index: 1;
}
.back-top{
  display: none;
}
.back-top.show{
  display: block;
}


.footer-wiget-item p, .footer-wiget-item ul li a, .footer-wiget-item h5, .copy-right p {
    color: #ffff;
}



/* custom css*/
.top-btn a {
    background: #1add97;
    padding: 12px 20px !important;
    border-radius: 100px;
    margin-left: 15px;
    font-size: 15px !important;
    /* width: 200px; */
    text-align: center;
    border: 2px solid #1add97 !important;
    transition: .8s linear;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}


.home2-hero-title h1 {
    font-size: 52px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

.home2-services-wrapper {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 41px -10px rgba(158, 158, 158, 0.58);
    box-shadow: 0px 0px 41px -10px rgba(158, 158, 158, 0.58);
    padding: 100px 0 30px 0;
}

.home1-services-item i {
    display: block;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 80px;
}

.flaticon-cloud-quantri:before{
    content: "";
    background-image: url(../img/svg/boss-2.svg);


    position: absolute;
    content: '';
    top: 0px;
    left: 50%;
    margin: 0 auto;
    width: 120px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
}

.flaticon-cloud-congchuc:before{
    content: "";
    background-image: url(../img/svg/network.svg);


    position: absolute;
    content: '';
    top: 0px;
    left: 50%;
    margin: 0 auto;
    width: 120px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
}

.flaticon-cloud-lanhdao:before{
    content: "";
    background-image: url(../img/svg/business-presentation.svg);


    position: absolute;
    content: '';
    top: 0px;
    left: 50%;
    margin: 0 auto;
    width: 120px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
}

.flaticon-cloud-lanhdaoquan:before{
    content: "";
    background-image: url(../img/svg/administrator.svg);


    position: absolute;
    content: '';
    top: 0px;
    left: 50%;
    margin: 0 auto;
    width: 120px;
    height: 100px;
   
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    -webkit-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    transform: translate(-50%, 10%);
}


.how-works-item img {
    padding: 37px 0px 32px;
    max-width: 100px;
}

.preloader span {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #3b90f1;
    background: -o-linear-gradient(146deg, #3b90f1, #1f5da2);
    background: -o-linear-gradient(304deg, #3b90f1, #1f5da2);
    background: linear-gradient(146deg, #3b90f1, #1f5da2);
    -webkit-animation: preloader 1.3s linear infinite;
    animation: preloader 1.3s linear infinite;
}


.modal-roof-store{
    position: absolute;
    z-index: 2000;
}

.modal-roof-store img{
    width: 100%;
}

/*@media (min-width: 576px){*/
/*    .modal-dialog {*/
/*        max-width: 700px;*/
/*        margin: 1.75rem auto;*/
/*    }*/


/*}*/

@media (max-width: 411px){
     .modal-roof-store {
        display: none;
    }
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: none;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.modal-content{
    margin-left: 50px;
    margin-right: 50px;
    top: 70px;
    width: auto;
}

.modal-content .form-control{
    width: 100%;
    font-size: 14px;
    padding: 25px 23px;
    color: #555555;
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 50px;
    background-color: #f8f8f8;
   
    outline: none;
    margin-bottom: 20px;
}

.close span{
    color: #ffff;
    font-size: 50px;
}


.copy-right a{
    color: #fff;

}

.copy-right a:hover{
    color: #007bff;
    
}



/*chinh sửa*/
#gioi-thieu {
    background-color: #fff;
}

#tinh-nang {
    background-color: #fff;
    /*padding-bottom: 257px;*/
}

#quy-trinh.home2-how-works-area {
    background-color: #fff;
    padding-top: 178px;
}
#quy-trinh {
    position: relative;
    z-index: 1;
    padding-top: 118px;
}

#khach-hang {
    background: #f4f4f4;
    padding-bottom: 177px;
}


.testiminial-admin-text h6 {
    font-size: 18px;
    line-height: 24px;
    color: #5c5c61;
    font-family: "Open Sans";
    font-weight: 700;
}

.testiminial-admin-text{
    width: 100%;
}
.introduce{
    text-align: left;
    line-height: 1.6em;
    font-size: 14px;
}
.modal .modal-body i{
    color: #0d9ff1;
    margin-right: 15px;
}
.lienhe{
    line-height: 1.5em;
    color: #0d9ff1;
    padding-top: 30px;
}
.home1-services-item h6  {
    padding: 42px 0 21px;
    color: #30323d;
    font-weight: bold;
}
.home1-services-item h6 a {
    color: #30323d;
    padding: 42px 0 21px;
}
.introduce span{
    color: #0055f9;
    padding: 0px 5px 0 0px;
    font-size: 10px;
}
.footer-wiget-item ul li a:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#ffffff), color-stop(#ffffff), to(#ffffff));
    background-image: -o-linear-gradient(left, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
     background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    color: #fff;
}