<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form [formGroup]="createOrUpdateDonViForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="donViDto.id">Cập nhật đơn vị công tác</span>
                        <span *ngIf="!donViDto.id">Tạo mới đơn vị công tác</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Đơn vị công tác <span class="red"> * </span></label>
                                <input formControlName="ten" class="form-control" type="text"
                                    [(ngModel)]="donViDto.ten">
                                <div *ngIf="submitted && f['ten'].errors" class="form-control-feedback">
                                    <div *ngIf="f['ten'].errors.required">
                                        Tên đơn vị không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Đơn vị quản lý </label>
                                <shared-ui-don-vi-combo [(item)]="donViDto.donViQuanLyId" #donvicombo2>
                                </shared-ui-don-vi-combo>
                                <!-- <select2 [data]="dataSelect2" [options]="options" style="width: 100% !important;"
                                    [value]="donViDto.donViQuanLyId" ngDefaultControl>
                                </select2> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Cấp đơn vị<span class="red"> * </span></label>
                                <shared-ui-cap-don-vi-combo [(item)]="donViDto.capDonViId">
                                </shared-ui-cap-don-vi-combo>
                                <input formControlName="capDonViId" class="form-control" type="number" hidden
                                    [(ngModel)]="donViDto.capDonViId" />
                                <div *ngIf="submitted && f['capDonViId'].errors" class="form-control-feedback">
                                    <div *ngIf="f['capDonViId'].errors.min  || f['capDonViId'].errors.required">
                                        Chọn cấp đơn vị
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Khối<span class="red"> * </span></label>
                                <shared-ui-khoi-don-vi-combo [(item)]="donViDto.khoiId">
                                </shared-ui-khoi-don-vi-combo>
                                <input formControlName="khoiId" class="form-control" type="number" hidden
                                    [(ngModel)]="donViDto.khoiId" />
                                <div *ngIf="submitted && f['khoiId'].errors" class="form-control-feedback">
                                    <div *ngIf="f['khoiId'].errors.min  || f['khoiId'].errors.required">
                                        Chọn khối hành chính
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 form-group" *ngIf="donViDto.khoiId == 5">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Khối trường học <span class="red"> * </span></label>
                                <div class="kt-checkbox-single text-center">
                                    <dx-select-box [dataSource]="lstKhoiTruongHoc" displayExpr="name" valueExpr="id"
                                        [(ngModel)]="donViDto.khoiTruongHocId">
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-md-line-input form-md-floating-label ">
                                <label>Tỉnh</label>
                                <shared-ui-tinh-combo [(item)]="donViDto.tinhId"
                                    (onChange)="huyencombo.getDataOptions($event)"></shared-ui-tinh-combo>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-labe">
                                <label>Huyện</label>
                                <shared-ui-huyen-combo #huyencombo [(item)]="donViDto.huyenId"
                                    (onChange)="xacombo.getDataOptions($event)"></shared-ui-huyen-combo>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label ">
                                <label>Xã</label>
                                <shared-ui-xa-combo #xacombo [(item)]="donViDto.xaId"></shared-ui-xa-combo>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        (click)="save(); donvicombo2.getDataOptions()" [busyText]="l('SavingWithThreeDot')"><i
                            class="fa fa-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-secondary"
                        (click)="close()">{{"Cancel" | localize}}</button>
                </div>

            </form>

        </div>
    </div>
</div>