<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Đơn vị công tác</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống / Quản lý
                phòng ban / Đơn vị
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-primary pull-right" (click)="createOrEditDonViModal.show(null, false)">
                    <i class="fa fa-plus"></i> Thêm
                </button>
            </div>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Cấp đơn vị</label>
                            <shared-ui-cap-don-vi-combo [(item)]="capDonViId">
                            </shared-ui-cap-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Khối</label>
                            <shared-ui-khoi-don-vi-combo [(item)]="khoiId">
                            </shared-ui-khoi-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button" (click)="getDonVi()">
                            Tìm kiếm
                        </button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-tree-list #donViTreeList id="employees" [dataSource]="projectData" [rootValue]="null"
                        keyExpr="id" parentIdExpr="donViQuanLyId" [showRowLines]="true" [showBorders]="true"
                        [columnAutoWidth]="true" [autoExpandAll]="true" [expandedRowKeys]="[1]">
                        <dxi-column dataField="ten" caption="Tên đơn vị"></dxi-column>
                        <dxi-column dataField="tenCapDonVi" caption="Cấp đơn vị" [width]="250"></dxi-column>
                        <dxi-column dataField="tenKhoi" caption="Khối" [width]="250"></dxi-column>
                        <dxi-column dataField="tenDonViQuanLy" [width]="250" caption="Đơn vị quản lý"></dxi-column>
                        <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button type="button" class="btn btn-outline-primary btn-sm" title="Thêm"
                                (click)="createOrEditDonViModal.show(item.data,false)">
                                <i class="fas fa-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning btn-sm" title="Sửa"
                                (click)="createOrEditDonViModal.show(item.data,true)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa"
                                (click)="xoaDonVi(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-tree-list>

                    <!-- <dx-tree-list #donViTreeList id="employees" [dataSource]="employees" [rootValue]="-1" keyExpr="ID"
                        parentIdExpr="Head_ID" [showRowLines]="true" [showBorders]="true" [columnAutoWidth]="true"
                        [expandedRowKeys]="[1]" [autoExpandAll]="true">
                        <dxi-column dataField="Title" caption="Position"></dxi-column>
                        <dxi-column dataField="Full_Name"></dxi-column>
                        <dxi-column dataField="City"></dxi-column>
                        <dxi-column dataField="State"></dxi-column>
                        <dxi-column dataField="Mobile_Phone"></dxi-column>
                        <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>
                    </dx-tree-list> -->
                </div>
            </div>
        </div>
    </div>
    <createOrEditDonViModal #createOrEditDonViModal (modalSave)="getDonVi()">
    </createOrEditDonViModal>
</div>