<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Đơn Vị Chuyên Trách</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                    [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Khối</label>
                            <shared-ui-khoi-don-vi-combo [(item)]="khoiId">
                            </shared-ui-khoi-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Cấp đơn vị</label>
                            <shared-ui-cap-don-vi-combo [(item)]="capDonViId">
                            </shared-ui-cap-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText">
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary" type="button" (click)="getDanhSachDonVi()">
                            <i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [wordWrapEnabled]="true" [showRowLines]="true">
                        <dxi-column caption="" dataField="stt" [width]="80" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplateCheckBox"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateCheckBox'">
                            <div class="kt-checkbox-single">
                                <label class="kt-checkbox">
                                    <input type="checkbox" [(ngModel)]="item.data.isChecked"
                                        (ngModelChange)="chonDonViCHuyenTrach($event,item.data)" />
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <dxi-column caption="#" dataField="stt" [width]="80"></dxi-column>
                        <dxi-column caption="Tên đơn vị" dataField="ten"></dxi-column>
                        <dxi-column caption="Khối" dataField="tenKhoi"></dxi-column>
                        <dxi-column caption="Cấp Bậc" dataField="tenCapDonVi"></dxi-column>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getDanhSachDonVi($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số: {{primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="save()"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                    <span>{{"Save" | localize}}</span></button>
                <button [disabled]="saving" type="button" class="btn btn-secondary"
                    (click)="close()">{{"Cancel" | localize}}</button>
            </div>

        </div>
    </div>
</div>