<div [@routerTransition]>
    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Tình trạng phiếu đánh giá</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Thống kê / Tình trạng phiếu đánh giá
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <shared-ui-can-bo-chuc-vu-combo [(item)]="selectChucVuId" (valueChange)="onChangeChucVuChinh()">
            </shared-ui-can-bo-chuc-vu-combo>
        </div>
    </div>

    <div class="kt-content">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="filterText">Tháng</label>
                            <shared-month-selection [(modelDate)]="filterMonth" (valueChange)="
                                                            onChangeMonthSelection($event)
                                                        ">
                            </shared-month-selection>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="filterText">Trạng thái</label>
                            <dx-select-box [dataSource]="lstTrangThaiPhieu" displayExpr="text" valueExpr="id"
                                [(ngModel)]="trangThaiPhieu">
                            </dx-select-box>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button"
                            (click)="thongKeTinhTrangPhieuDanhGiaCanBo()">
                            Tìm kiếm
                        </button>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-success margin-top-25" type="button" (click)="exportToExcel()">
                            Xuất excel
                        </button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [showRowLines]="true" [wordWrapEnabled]="true">

                        <dxi-column dataField="stt" caption="#" textAlign="Center" width="90"></dxi-column>
                        <dxi-column dataField="tenCanBo" caption="Tên cán bộ"></dxi-column>
                        <dxi-column dataField="phongBan" caption="Đơn vị"></dxi-column>
                        <dxi-column dataField="tenChucVu" caption="Chức vụ"></dxi-column>
                        <dxi-column dataField="soDienThoai" caption="Điện thoại"></dxi-column>

                        <dxi-column caption="Trạng thái" dataField="" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplateTrangThai"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateTrangThai'">
                            <span class="kt-badge kt-badge--success kt-badge--inline"
                                *ngIf="item.data.trangThai == 1">Đã hoàn thành</span>

                            <span class="kt-badge kt-badge--warning kt-badge--inline"
                                *ngIf="item.data.trangThai == 0">Đang thực hiện
                            </span>

                            <div *ngIf="item.data.trangThai == 2">
                                <span class="kt-badge kt-badge--primary kt-badge--inline">
                                    Chưa gửi đánh giá
                                </span>
                            </div>
                        </div>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="
                                                primengTableHelper.defaultRecordsCountPerPage
                                            " #paginator (onPageChange)="thongKeTinhTrangPhieuDanhGiaCanBo($event)"
                                    [totalRecords]="
                                                primengTableHelper.totalRecordsCount
                                            " [rowsPerPageOptions]="
                                                primengTableHelper.predefinedRecordsCountPerPage
                                            ">
                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số:
                                    {{
                                                primengTableHelper.totalRecordsCount
                                            }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
    </div>
</div>