<div [@routerTransition]>

    <div class="kt-subheader kt-grid__item">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>Nhân viên</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                <i class="flaticon-home"></i> / Quản trị hệ thống / Quản trị nhân sự
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <button class="btn btn-primary pull-right" [hidden]="!isViewDanhSach"
                    *ngIf="isGranted('Pages.Admin.CanBo.Create')"
                    (click)="isViewDanhSach = false; createOrEditCanBoView.show(null, true)">
                    <i class="fa fa-plus"></i> Thêm
                </button>
                <dx-button text="OK" [hidden]="isViewDanhSach"
                    (onClick)="isViewDanhSach = true; createOrEditCanBoView.show(null, false);getCanBo();">
                    <i class="fa fa-reply"></i> Trở lại
                </dx-button>
            </div>
        </div>
    </div>

    <div class="kt-content" [ngSwitch]="viewMode">
        <div class="kt-portlet" [hidden]="!isViewDanhSach">
            <div class="kt-portlet__body">
                <div class="row">

                    <div class="col-md-2" *ngIf="isViewTimKiemNangCao">
                        <div class="form-group">
                            <label for="filterText">Đơn vị</label>
                            <shared-ui-don-vi-combo [(item)]="donViId"></shared-ui-don-vi-combo>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="isViewTimKiemNangCao">
                        <div class="form-group">
                            <label for="filterText">Chức vụ</label>
                            <shared-ui-chuc-vu-combo [(item)]="chucVuId"></shared-ui-chuc-vu-combo>
                        </div>
                    </div>
                    <div class="col-md-2" *ngIf="isViewChucVuCanBo">
                        <div class="form-group">
                            <label for="filterText">Chức vụ</label>
                            <shared-ui-can-bo-chuc-vu-combo [(item)]="chucVuId"
                                (valueChange)="onChangeChucVuChinh($event)">
                            </shared-ui-can-bo-chuc-vu-combo>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="filterText">Từ khóa</label>
                            <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText">
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="btn"> &nbsp;</label>
                        <button class="btn btn-primary margin-top-25" type="button" (click)="getCanBo()">Tìm
                            kiếm</button>
                    </div>
                </div>

                <div class="row align-items-center">

                    <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
                        [wordWrapEnabled]="true" [showRowLines]="true">
                        <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
                        <dxi-column caption="Họ và tên" dataField="" cellTemplate="cellTemplateHoTen"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateHoTen'">
                            {{item.data.ho}} {{item.data.ten}}
                        </div>
                        <dxi-column caption="Điện thoại" dataField="phoneNumber">
                        </dxi-column>
                        <dxi-column caption="Email" dataField="emailAddress">
                        </dxi-column>
                        <dxi-column caption="Chức vụ" dataField="tenChucVu">
                        </dxi-column>
                        <dxi-column caption="Đơn vị" dataField="tenDonVi">
                        </dxi-column>
                        <dxi-column caption="Loại đơn vị" dataField="tenLoaiDonVi">
                        </dxi-column>
                        <dxi-column caption="Đơn vị quản lý" dataField="tenDonViQuanLy">
                        </dxi-column>
                        <dxi-column caption="Loại chức vụ" [allowFiltering]="false" [allowSorting]="false"
                            cellTemplate="cellTemplateLoaiChucVu">
                        </dxi-column>
                        <div *dxTemplate="let item of 'cellTemplateLoaiChucVu'">
                            <span class="kt-badge kt-badge--brand kt-badge--inline" *ngIf="item.data.chucVuChinh == 1">
                                Chức vụ chính
                            </span>
                            <span class="kt-badge kt-badge--warning kt-badge--inline"
                                *ngIf="item.data.chucVuChinh == 2">
                                Chức vụ kiêm nhiệm
                            </span>
                        </div>
                        <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false"
                            [allowSorting]="false" cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let item of 'cellTemplate'">
                            <button type="button" class="btn btn-outline-primary btn-sm"
                                (click)="changePasswordModal.show(item.data.userId)" title="Đổi mật khẩu">
                                <i class="fas fa-unlock-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-warning  btn-sm"
                                *ngIf="isGranted('Pages.Admin.CanBo.XemChiTiet')"
                                (click)="isViewDanhSach = false;createOrEditCanBoView.show(item.data, true)"
                                title="Sửa">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa"
                                *ngIf="isGranted('Pages.Admin.CanBo.Create')" (click)="xoaCanBo(item.data)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </dx-data-grid>
                </div>
                <!--<Primeng-TurboTable-Start>-->
                <div class="margin-top-15 row align-items-center">
                    <div class="col-12">
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getCanBo($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                </p-paginator>
                                <span class="total-records-count">
                                    Tổng số: {{primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<Primeng-TurboTable-End>-->
            </div>
        </div>
        <app-thong-tin-can-bo #createOrEditCanBoView></app-thong-tin-can-bo>
    </div>

    <changePasswordModal #changePasswordModal> </changePasswordModal>
</div>