.title-subbox {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: #5867dd;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.viet-test{
    color: red;
    background-color: lawngreen;
    font-size: 20px;
}

.modal-dialog.modal-sp {
    max-width: 1000px;
}