<div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app" [hidden]="viewDetail">
    <!--Begin:: App Aside Mobile Toggle-->
    <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
        <i class="la la-close"></i>
    </button>
    <!--End:: App Aside Mobile Toggle-->

    <!--Begin:: App Aside-->
    <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside" style="opacity: 1;">
        <!--begin:: Widgets/Applications/User/Profile1-->
        <div class="kt-portlet ">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                    </h3>
                </div>

            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y">
                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                        <div class="kt-widget__media">
                            <img src="{{profilePicture}}" width="128" height="128" class="img-thumbnail img-rounded" />
                        </div>
                        <div class="kt-widget__content">
                            <div class="kt-widget__section">
                                <a href="#" class="kt-widget__username">
                                    {{canBoInfo.ho}} {{canBoInfo.ten}}
                                    <i *ngIf="isEdit" class="flaticon2-correct kt-font-success"></i>
                                </a>
                                <span class="kt-widget__subtitle">
                                    {{tenDonVi}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__body">
                        <div class="kt-widget__content">
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Email:</span>
                                <a href="#" class="kt-widget__data">{{canBoInfo.emailAddress}}</a>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Điện thoại:</span>
                                <a href="#" class="kt-widget__data">{{canBoInfo.phoneNumber}}</a>
                            </div>
                            <!-- <div class="kt-widget__info">
                                <span class="kt-widget__label">Địa chỉ:</span>
                                <span class="kt-widget__data">Melbourne</span>
                            </div> -->
                        </div>
                        <div class="kt-widget__items">
                            <a (click)="changeTab(1)" class="kt-widget__item"
                                [ngClass]="{'kt-widget__item--active': (activeTab == 1)}">
                                <span class="kt-widget__section">
                                    <span class="kt-widget__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path
                                                    d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
                                                    fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                                <path
                                                    d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                                                    fill="#000000" fill-rule="nonzero"></path>
                                            </g>
                                        </svg> </span>
                                    <span class="kt-widget__desc">
                                        Thông tin cán bộ
                                    </span>
                                </span>
                            </a>
                            <a [hidden]="!getQuyenChinhSuaChucVuChoCaNhan()"
                                (click)="changeTab(2); canBoChucVuView.showCanBoChucVu(canBoInfo);"
                                class="kt-widget__item" [ngClass]="{'kt-widget__item--active': (activeTab == 2)}">
                                <span class="kt-widget__section">
                                    <span class="kt-widget__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                <path
                                                    d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z"
                                                    fill="#000000" fill-rule="nonzero"></path>
                                                <path
                                                    d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z"
                                                    fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg> </span>
                                    <span class="kt-widget__desc">
                                        Chức vụ
                                    </span>
                                </span>
                            </a>
                            <a [hidden]="!isEdit"
                                (click)="changeTab(3); canBoChuyenTrachView.showDanhSachDonViChuyenTrach(canBoInfo)"
                                class="kt-widget__item" [ngClass]="{'kt-widget__item--active': (activeTab == 3)}">
                                <span class="kt-widget__section">
                                    <span class="kt-widget__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z"
                                                    fill="#000000" opacity="0.3"></path>
                                                <path
                                                    d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z"
                                                    fill="#000000"></path>
                                            </g>
                                        </svg> </span>
                                    <span class="kt-widget__desc">
                                        Đơn vị chuyên trách
                                    </span>

                                </span></a>
                        </div>
                    </div>
                </div>
                <!--end::Widget -->
            </div>
        </div>
        <!--end:: Widgets/Applications/User/Profile1-->

    </div>
    <!--End:: App Aside-->

    <!--Begin:: App Content-->
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet" [hidden]="activeTab != 1">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">Thông tin cá nhân <small> </small></h3>
                        </div>
                    </div>

                    <form #form="ngForm" (ngSubmit)="save(form)" class="kt-form kt-form--label-right">
                        <div class="kt-portlet__body">
                            <div class="kt-section--first">
                                <div class="kt-section__body">
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Ảnh đại diện</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                <div class="kt-avatar__holder">
                                                    <img src="{{profilePicture}}" width="128" height="128"
                                                        class="img-thumbnail img-rounded" />
                                                    <!-- <img [src]="previewUrl" alt="image" *ngIf="previewUrl" width=120
                                                        height=120 />
                                                    <img src="/assets/common/images/no-image-available.jpg" alt="image"
                                                        *ngIf="!previewUrl" width=120 height=120 /> -->
                                                </div>
                                                <label [hidden]="!isEdit" class="kt-avatar__upload"
                                                    data-toggle="kt-tooltip" title=""
                                                    data-original-title="Change avatar"
                                                    (click)="openChangeProfilePictureModal()">
                                                    <i class="fa fa-pen" (click)="openChangeProfilePictureModal()"></i>
                                                    <!-- <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg"
                                                        (change)="fileProgress($event)"> -->
                                                </label>
                                                <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title=""
                                                    data-original-title="Cancel avatar">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Họ <span class="red"> *
                                            </span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input name="ho" class="form-control" type="text" required
                                                [disabled]="!isGranted('Pages.Admin.CanBo.Edit')"
                                                [(ngModel)]="canBoInfo.ho" />
                                            <div *ngIf="form.submitted && form.controls.ho?.errors"
                                                class="form-control-feedback">
                                                Họ không được để trống
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Tên
                                            <span class="red"> *</span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input name="ten" class="form-control" type="text" required
                                                [disabled]="!isGranted('Pages.Admin.CanBo.Edit')"
                                                [(ngModel)]="canBoInfo.ten" />
                                            <div *ngIf="form.submitted && form.controls.ten?.errors"
                                                class="form-control-feedback">
                                                Tên không được để trống
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Đơn vị công tác <span
                                                class="red"> *
                                            </span> </label>
                                        <div class="col-lg-9 col-xl-6">
                                            <shared-ui-don-vi-combo [(item)]="canBoInfo.donViId"
                                                [isDisable]="!isGranted('Pages.Admin.CanBo.Edit')">
                                            </shared-ui-don-vi-combo>

                                            <input name="donViId" class="form-control" type="number" hidden
                                                [(ngModel)]="canBoInfo.donViId" required />
                                            <div *ngIf="form.submitted && form.controls.donViId?.errors"
                                                class="form-control-feedback">
                                                Chọn đơn vị công tác
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Loại hợp đồng </label>
                                        <div class="col-lg-9 col-xl-6">
                                            <shared-ui-loai-hop-dong-combo [(item)]="canBoInfo.loaiHopDong"
                                                [isDisable]="!isGranted('Pages.Admin.CanBo.Edit')">
                                            </shared-ui-loai-hop-dong-combo>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Vai trò </label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="form-group">
                                                <div class="dx-field-value">
                                                    <dx-select-box name="roleName" [dataSource]="roles"
                                                        displayExpr="roleDisplayName" valueExpr="roleName"
                                                        [(ngModel)]="roleName"
                                                        [disabled]="!isGranted('Pages.Admin.CanBo.Edit')">
                                                    </dx-select-box>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <label class="col-xl-3"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <h3 class="kt-section__title kt-section__title-sm">Thông tin liên lạc:
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Số điện thoại <span class="red">
                                                * </span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input name="phoneNumber" class="form-control" type="text"
                                                [disabled]="!isGranted('Pages.Admin.CanBo.Edit')"
                                                [(ngModel)]="canBoInfo.phoneNumber" required />
                                            <div *ngIf="form.submitted && form.controls.phoneNumber?.errors"
                                                class="form-control-feedback">
                                                Số điện thoại không được để
                                                trống
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Email <span class="red"> *
                                            </span></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input name="emailAddress" class="form-control" type="text"
                                                [disabled]="!isGranted('Pages.Admin.CanBo.Edit')"
                                                [(ngModel)]="canBoInfo.emailAddress" required />
                                            <div *ngIf="form.submitted && form.controls.emailAddress?.errors"
                                                class="form-control-feedback">
                                                Email không được để trống
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-xl-3"></label>
                                        <div class="col-lg-9 col-xl-6">
                                            <h3 class="kt-section__title kt-section__title-sm">Địa chỉ thường trú:
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Tỉnh</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <shared-ui-tinh-combo [(item)]="canBoInfo.tinhId"
                                                (onChange)="huyencombo.getDataOptions($event)"
                                                [isDisable]="!isGranted('Pages.Admin.CanBo.Edit')">
                                            </shared-ui-tinh-combo>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Huyện</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <shared-ui-huyen-combo [(item)]="canBoInfo.huyenId"
                                                (onChange)="!xacombo!.getDataOptions($event)" #huyencombo
                                                [isDisable]="!isGranted('Pages.Admin.CanBo.Edit')">
                                            </shared-ui-huyen-combo>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Xã</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <shared-ui-xa-combo [(item)]="canBoInfo.xaId" #xacombo
                                                [isDisable]="!isGranted('Pages.Admin.CanBo.Edit')"></shared-ui-xa-combo>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <label class="col-xl-3 col-lg-3 col-form-label">Địa chỉ</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input name="address" class="form-control" type="text"
                                                [disabled]="!isGranted('Pages.Admin.CanBo.Edit')"
                                                [(ngModel)]="canBoInfo.address" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="kt-portlet__foot">
                            <div class="kt-form__actions">
                                <div class="row">
                                    <div class="col-lg-3 col-xl-3">
                                    </div>
                                    <div class="col-lg-9 col-xl-9">
                                        <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                                            [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                            <span>{{"Save" | localize}}</span></button>
                                        <!-- <button [disabled]="saving" type="button" class="btn btn-secondary"
                                            (click)="close()">{{"Cancel" | localize}}</button> -->

                                        <!-- <button type="reset" class="btn btn-success">Submit</button>&nbsp;
                                        <button type="reset" class="btn btn-secondary">Cancel</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="kt-portlet" [hidden]="activeTab != 2">
                    <app-child-can-bo-chuc-vu #canBoChucVuView>
                    </app-child-can-bo-chuc-vu>
                </div>
                <div class="kt-portlet" [hidden]="activeTab != 3">
                    <app-don-vi-chuyen-trach #canBoChuyenTrachView>
                    </app-don-vi-chuyen-trach>
                </div>
                <div class="kt-portlet" [hidden]="activeTab != 4">
                    <!-- <app-can-bo-chuc-vu-danh-gia #canBoChucVuDanhGiaView>
                    </app-can-bo-chuc-vu-danh-gia> -->
                </div>
            </div>
        </div>


    </div>
    <!--End:: App Content-->

    <changeProfilePictureModal #changeUserProfilePictureModal (modalSave)="getProfilePicture($event)">
    </changeProfilePictureModal>

</div>