<div class="kt-account">
    <div class="kt-account__container">
        <div class="kt-account__banner">
            <img src="assets/common/images/bg_banner.png" />

            <div class="kt-account__header">
                <h4 class="kt-title__tenant" *ngIf="appSession.tenant && appSession.tenant.name">
                    {{appSession.tenant.name | uppercase}}
                </h4>
                <h5 class="kt-title__app-name">HỆ THỐNG ĐÁNH GIÁ CÁN BỘ CÔNG CHỨC, VIÊN CHỨC</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="kt-login__container">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-md-5 offset-md-7">
                                <div class="kt-login__hoankiem">
                                    <img src="assets/common/images/app-logo-on-light.svg" alt="e-kpi logo"
                                        class="app-logo" />
                                    <div *ngIf="showTenantChange()"
                                        class="kt-login__signup-label tenant-change-box text-center">
                                        <tenant-change></tenant-change>
                                    </div>
                                    <div>
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>