.kt-login.kt-login--v1 .kt-login__aside {
    width: 605px;
    padding: 3rem 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 2.5rem 0 3.5rem 0;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu > a {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1
    .kt-login__aside
    .kt-login__info
    .kt-login__menu
    > a:hover {
    color: #fff;
}

.kt-login.kt-login--v1
    .kt-login__aside
    .kt-login__info
    .kt-login__menu
    > a:hover:after {
    border-bottom: 1px solid #fff;
    opacity: 0.3;
}

.kt-login.kt-login--v1
    .kt-login__aside
    .kt-login__info
    .kt-login__menu
    > a:last-child {
    margin-right: 0;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright {
    color: rgba(255, 255, 255, 0.4);
}

.kt-login.kt-login--v1 .kt-login__wrapper {
    padding: 3rem 3rem;
    background: #fff;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__head
    .kt-login__signup-label {
    color: #a7abc3;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__head
    .kt-login__signup-link {
    color: #5d78ff;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
    width: 100%;
    max-width: 450px;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__title {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    text-decoration: none;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__title
    > h3 {
    font-size: 2rem;
    color: #67666e;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-form {
    margin: 4rem auto;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-form
    .form-group {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-form
    .form-group
    .form-control {
    border: none;
    height: 50px;
    margin-top: 1.25rem;
    background-color: rgba(247, 247, 249, 0.7);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-form
    .form-group
    .form-control:focus {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: #f7f7f9;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 3rem 0;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__link-forgot {
    color: #a7abc3;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__link-forgot:hover {
    color: #5d78ff;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__link-forgot:hover:after {
    border-bottom: 1px solid #5d78ff;
    opacity: 0.3;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__btn-secondary,
.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__actions
    .kt-login__btn-primary {
    height: 50px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__divider {
    margin: 1rem 0 2rem 0;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__divider:not(:first-child):not(:last-child) {
    font-weight: 400;
    color: #b5b2c3;
    font-size: 1rem;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__options
    > a {
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1
    .kt-login__wrapper
    .kt-login__body
    .kt-login__form
    .kt-login__options
    > a:not(:first-child):not(:last-child) {
    margin: 0 1.5rem;
}

@media (min-width: 1025px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

@media (max-width: 1024px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        width: 100%;
        height: auto;
        padding: 2rem 1.5rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
        margin-bottom: 2.5rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
        margin-top: 2rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
        margin: 2rem 0;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper {
        padding: 3rem 1.5rem;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
        padding-left: 2rem;
        right: 2rem;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 5rem;
    }

    .kt-login.kt-login--v1
        .kt-login__wrapper
        .kt-login__body
        .kt-login__form
        .kt-login__options
        > a:not(:first-child):not(:last-child) {
        margin: 0 0.8rem;
    }
}

.language-switch-area {
    a {
        margin-right: 5px;
        cursor: pointer;
    }

    i {
        display: inline-block;
    }
}

.kt-login__account {
    text-align: center;
}

.has-danger .form-control-feedback {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
}

ul.text-danger {
    list-style: none;
    color: #f4516c;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
    padding-left: 0;
}

.captcha-container {
    margin: auto;
    width: 70%;
}

.kt-account {
    display: flex;
    flex: 1;
    background-color: #eee;
    padding: 28px;
}

.kt-account__container {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    
    background-color: white;
    padding: 0;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.kt-account__intro {
 
    background-color: #209f85;
    color: #fff;
    padding: 60px 100px;
}

.kt-account__login {

    background-color: #FFF;
    color: #333;
    padding: 80px;
 
}

.kt-account__tenant {
    margin: 26px 0;
    line-height: 36px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #333;
}

.artwork {
    margin-top: 60px;
    width: 100%;
    display: block;
}

.app-logo {
    height: 36px;
    margin: 18px;
}

.tenant-logo {
    height: 120px;
}

.kt-account__banner {
    position: relative;
}

.kt-account__header {
    position: absolute;
    left: 144px;
    top: 18px;
}

// Style riêng cho Hoàn kiếm
.kt-login__container {
    background-image: url('assets/common/images/ho_guom.jpg');
    background-size: cover;    
    padding: 32px 12px;
}

.kt-login__hoankiem {    
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
    margin: 24px 12px;
}
.kt-title__tenant {
    color: #E6E40C;
    font-size: 32px;
    font-weight: 600;
}

.kt-title__app-name {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
}