<div [@routerTransition]>
  <div class="kt-subheader kt-grid__item">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">
        <span>Nhóm đối tượng</span>
      </h3>
      <span class="kt-subheader__separator kt-subheader__separator--v"></span>
      <span class="kt-subheader__desc">
        <i class="flaticon-home"></i> / Cấu hình / Báo cáo / Nhóm đối tượng
      </span>
    </div>
    <div class="kt-subheader__toolbar">
      <div class="kt-subheader__wrapper">
        <button class="btn btn-primary pull-right" (click)="viewChiTietNhomDoiTuong(null, false)">
          <i class="fa fa-plus"></i> Thêm
        </button>
      </div>
    </div>
  </div>

  <div class="kt-content">
    <div class="kt-portlet">
      <div class="kt-portlet__body">

        <div class="row">
          <div class="col-md-6" [ngClass]="(viewType == 0) ? 'col-md-12' : 'col-md-6'">
            <div class="row">
              <div class="col-md-4">
                <label for="filterText">Loại nhóm</label>
                <dx-select-box [dataSource]="lstLoaiNhomDoiTuong" displayExpr="name" valueExpr="id"
                  [(ngModel)]="loaiNhomDoiTuong">
                </dx-select-box>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="filterText">Từ khóa</label>
                  <input type="text" name="filterText" class="form-control" [(ngModel)]="filterText" />
                </div>
              </div>
              <div class="form-group col-md-2">
                <label for="btn"> &nbsp;</label>
                <button class="btn btn-primary margin-top-25" type="button" (click)="getNhomDoiTuong()">
                  Tìm kiếm
                </button>
              </div>
            </div>

            <dx-data-grid id="gridContainer" [dataSource]="primengTableHelper.records" [showBorders]="true"
              [showRowLines]="true">

              <dxi-column caption="#" dataField="stt" [width]="100"></dxi-column>
              <dxi-column caption="Tên" dataField="tenNhomDoiTuong"></dxi-column>

              <dxi-column dataField="" caption="Thao tác" [width]="180" [allowFiltering]="false" [allowSorting]="false"
                cellTemplate="cellTemplate"></dxi-column>
              <div *dxTemplate="let item of 'cellTemplate'">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="viewDoiTuongSuDung(item.data)"
                  title="Chức vụ sử dụng">
                  <i class="fas fa fa-cog"></i>
                </button>
                <button type="button" class="btn btn-outline-warning  btn-sm"
                  (click)="viewChiTietNhomDoiTuong(item.data, true)" title="Sửa">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm" title="Xóa" title="Xóa"
                  (click)="xoaNhomDoiTuong(item.data)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </dx-data-grid>

            <div class="col-12">
              <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                <div class="primeng-paging-container">
                  <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                    (onPageChange)="getNhomDoiTuong($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                  </p-paginator>
                  <span class="total-records-count">
                    Tổng số:
                    {{ primengTableHelper.totalRecordsCount }}
                  </span>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-6" *ngIf="viewType == 1">
            <form [formGroup]="createOrUpdateNhomDoiTuongForm" style="border-left: 1px dotted #ccc;">
              <div class="modal-header">
                <h4 class="modal-title">
                  <span *ngIf="nhomDoiTuongDto.id">Cập nhật nhóm đối tượng</span>
                  <span *ngIf="!nhomDoiTuongDto.id">Tạo mới nhóm đối tượng</span>
                </h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label ">
                      <label>Nhóm đối tượng <span class="red"> * </span></label>
                      <input formControlName="tenNhomDoiTuong" class="form-control" type="text"
                        [(ngModel)]="nhomDoiTuongDto.tenNhomDoiTuong">
                      <div *ngIf="submitted && f['tenNhomDoiTuong'].errors" class="form-control-feedback">
                        <div *ngIf="f['tenNhomDoiTuong'].errors.required">
                          Tên nhóm đối tượng không được để trống
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label ">
                      <label> Tên hiển thị trên báo cáo <span class="red"> * </span></label>
                      <input formControlName="tenHienThiTrenBaoCao" class="form-control" type="text"
                        [(ngModel)]="nhomDoiTuongDto.tenHienThiTrenBaoCao">
                      <div *ngIf="submitted && f['tenHienThiTrenBaoCao'].errors" class="form-control-feedback">
                        <div *ngIf="f['tenHienThiTrenBaoCao'].errors.required">
                          Tên hiển thị không được để trống
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label ">
                      <label> Loại nhóm đối tượng </label>
                      <dx-select-box formControlName="loaiNhomDoiTuong" [dataSource]="lstLoaiNhomDoiTuong"
                        displayExpr="name" valueExpr="id" [(ngModel)]="nhomDoiTuongDto.loaiNhomDoiTuong"
                        (valueChange)="onChangeLoaiDoiTuong()" [disabled]="isEdit == true">
                      </dx-select-box>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" (click)="saveNhomDoiTuong()"
                      style="margin-top: 25px; " [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                      <span> Lưu </span></button>
                    <button type="button" class="btn btn-secondary btn-hover-brand" (click)="dongChiTietNhomDoiTuong()"
                      style="margin-top: 25px;">Đóng</button>
                  </div>
                  <div class="col-md-12">
                    <hr style="margin: 0;">
                    <button type="submit" class="btn btn-success pull-right"
                      *ngIf="isEdit == true && nhomDoiTuongDto.loaiNhomDoiTuong == 1"
                      (click)="nhomDoiTuongChiTietModal.show(lstDoiTuongChiTiet, nhomDoiTuongDto, 1)"
                      style="margin-top: 12px;margin-bottom: 12px;">
                      <i class="fa fa-plus"></i>
                      <span> Thêm chức vụ</span></button>

                    <button type="submit" class="btn btn-success pull-right"
                      *ngIf="isEdit == true && nhomDoiTuongDto.loaiNhomDoiTuong == 2"
                      (click)="nhomDoiTuongChiTietModal.show(lstDoiTuongChiTiet, nhomDoiTuongDto, 1)"
                      style="margin-top: 12px;margin-bottom: 12px;">
                      <i class="fa fa-plus"></i>
                      <span> Thêm đơn vị</span></button>

                  </div>
                </div>
                <div class="row" *ngIf="isEdit == true">
                  <div class="col-12">
                    <div class="table-wrapper-scroll-y table-custom-scrollbar">
                      <div class="m-section">
                        <div class="m-section__content">
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 100px !important;">
                                  Thứ tự
                                </th>
                                <th>
                                  Tên chức vụ
                                </th>
                                <th style="width: 150px !important;">
                                  Thao tác
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of lstDoiTuongChiTiet; let i = index">
                                <td class="text-center">
                                  {{i+1}}
                                </td>
                                <td>
                                  {{item.tenChucVu}}
                                </td>
                                <td>
                                  <button type="button" class="btn btn-outline-danger btn-sm" style="margin-top: 2px;"
                                    (click)="removeChucVu(item.id)">
                                    <i class="fas fa-trash-alt"></i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-6" *ngIf="viewType == 2">
            <div style="border-left: 1px dotted #ccc;">
              <div class="modal-header">
                <h4 class="modal-title">
                  <span>Chức vụ sử dụng đối tượng báo cáo - {{selectCurrentItem.tenNhomDoiTuong}}</span>
                </h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <!-- <button type="button" class="btn btn-secondary btn-hover-brand  pull-right"
                      (click)="dongChiTietNhomDoiTuong()" style="margin-top: 12px; margin-left: 12px;">Đóng</button> -->

                    <button type="submit" class="btn btn-success pull-right"
                      (click)="nhomDoiTuongChiTietModal.show(lstChucVuSuDungNhomDoiTuong, selectCurrentItem, 2)"
                      style="margin-top: 12px;margin-bottom: 12px;">
                      <i class="fa fa-plus"></i>
                      <span> Thêm chức vụ</span></button>
                  </div>
                  <div class="col-12">
                    <div class="table-wrapper-scroll-y table-custom-scrollbar">
                      <div class="m-section">
                        <div class="m-section__content">
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th style="width: 100px !important;">
                                  Thứ tự
                                </th>
                                <th>
                                  Tên chức vụ
                                </th>
                                <th style="width: 150px !important;">
                                  Thao tác
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of lstChucVuSuDungNhomDoiTuong; let i = index">
                                <td class="text-center">
                                  {{i+1}}
                                </td>
                                <td>
                                  {{item.tenChucVu}}
                                </td>
                                <td>
                                  <button type="button" class="btn btn-outline-danger btn-sm" style="margin-top: 2px;"
                                    (click)="removeBaoCaoChucVuCauHinh(item.id)">
                                    <i class="fas fa-trash-alt"></i>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--<Primeng-TurboTable-Start>-->
          <div class="margin-top-15 row align-items-center">

          </div>
          <!--<Primeng-TurboTable-End>-->
        </div>
      </div>
    </div>

    <nhomDoiTuongChiTietModal #nhomDoiTuongChiTietModal (modalSave)="refreshData()">
    </nhomDoiTuongChiTietModal>
  </div>